<div 
    class="app-card app-card--{{ card.acf_fc_layout }} slide current"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                {% if card.block_1 %}
                <div class="col">
                    <article class="activity--summary block_1">
                        <h2>In a nutshell</h2>
                        {{ card.block_1 }}
                    </article>
                    {% if card.level %}
                    <article class="activity--properties">
                        {% if card.duration %}
                        <p class="activity--properties__property">
                            <i class="icon symbol-activity-duration"></i>
                            <span>{{ card.duration }}</span>
                        </p>
                        {% endif %} {% if card.level %}
                        <p class="activity--properties__property">
                            <i class="icon symbol-age"></i>
                            <span>{{ card.level }}</span>
                        </p>
                        {% endif %} {% if card.classroom === true %}
                        <p class="activity--properties__property">
                            <i class="icon symbol-in-the-class"></i>
                            <span>In class</span>
                        </p>
                        {% elif card.classroom === false %}
                        <p class="activity--properties__property">
                            <i class="icon symbol-outdoor-activity"></i>
                            <span>In the field</span>
                        </p>
                        {% endif %}
                        {% if post.acf.fact_sheet.url %}
                        <a href="{{ post.acf.fact_sheet.url }}" class="activity--properties__property" download="{{ post.acf.fact_sheet.name }}" target="_blank">
                            <i class="icon symbol-worksheet"></i>
                            <span>Worksheet</span>
                        </a>
                        {% endif %}
                    </article>
                    {% endif %}
                </div>
                {% endif %} 
                {% if card.block_2 %}
                <div class="col">
                    {% if card.block_2 %}
                    <article class="activity--objectives block_2">
                        <h2>Our objectives</h2>
                        {{ card.block_2 }}
                    </article>
                    {% endif %} 
                    {% if card.block_3 %}
                    <article class="activity--assets block_3">
                        <h2>Things to use</h2>
                        {{ card.block_3 }}
                    </article>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>