<div class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide" data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & learn</h2>
                {{ card.quiz_description }}
                <!-- {% set options_counter = ( options_counter | default(0) ) + 1 %} -->
                <form id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}" class="multiple-choice multiple-choice--grid"
                    action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec" method="POST">
                    <figure>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for option in card.quiz %}
                                    <th>{{ option.quiz_input_value }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for outerOption in card.quiz %}
                                {% for subOption in outerOption.quiz_options %}
                                <tr class="radio-block">
                                    <th data-title="Title">{{ subOption.quiz_title }}{% if subOption.quiz_extended_text %}<br>{{ subOption.quiz_extended_text }}{% endif %}{% if subOption.quiz_tip %}<br><p class="checkbox-prompt visually-hidden">{{ subOption.quiz_tip | striptags(true) }}</p>{% endif %}</th>
                                    {% for innerOption in card.quiz %}
                                    {% set sub_options_counter = ( sub_options_counter | default(0) ) + 1 %}
                                    <td data-title="Options">
                                        <p class="radio">
                                            <input id="{{ subOption.quiz_field_name }}-{{ post.slug }}-{{ sub_options_counter }}" name="{{ subOption.quiz_field_name }}"
                                                type="radio" value="{{ innerOption.quiz_input_value }}" data-type="{% if innerOption.quiz_input_value === outerOption.quiz_input_value %}correct{% else %}wrong{% endif %}" class="radio-multiple" />
                                            <label for="{{ subOption.quiz_field_name }}-{{ post.slug }}-{{ sub_options_counter }}">
                                                <span class="input-icon">
                                                    <i class="icon checkbox-r"></i>
                                                    <i class="icon checkbox-w-thick"></i>
                                                </span>
                                            </label>
                                        </p>
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </figure>
                </form>
                <div class="form__buttons centered">
                    <button id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}--submit"
                        class="button submit submit-button" data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}">
                        See the correct answers!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}--form-error"
                        class="form-error"></small>
                    <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}--thankyou_message"
                        class="thankyou_message" style="display: none;">
                        <p class="check-answer-container"><span class="check-answer"></span><br> {{ option.quiz_thank_you_message }}</p>
                        <button id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}--reset"
                            class="button reset submit-button visually-hidden" data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_grid_counter }}-{{ options_counter }}">
                            Try again!
                            <span class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4"
                                        stroke-miterlimit="10"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>