<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} app-card--{{ card.acf_fc_layout }}-{{ card.hotspot_type }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & learn</h2>
                <article class="quiz-description">{{ card.hotspot_description }}</article>
                <div id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}" class="quiz-hotspot {{ card.hotspot_type }}" data-id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}">
                    <figure class="hotspot-image hotspot-target-container" style="width:{{ card.hotspot_file.width }}px;height:{{ card.hotspot_file.height }}px;">
                        <img src="{{ card.hotspot_file.url }}" width="{{ card.hotspot_file.width }}" height="{{ card.hotspot_file.height }}"
                            alt="{% if card.hotspot_file.alt %}{{ card.hotspot_file.alt }}{% else %} {{ post.slug }} quiz-hotspot {% endif %}">
                        {% for hotspot in card.hotspots %}
                        {% set target_counter = ( target_counter | default(-1) ) + 1 %}
                        {% set origin_counter = ( origin_counter | default(0) ) + 1 %}
                        <div class="hotspot drag-handle-target{% if card.hotspot_type === 'mouseover' %} glossary-term{% endif %}" data-identifier="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}-{{ target_counter }}"
                            data-coordinates="{{ hotspot.hotspot_coordinates }}" data-title="{{ hotspot.hotspot_title | escape }}"
                            data-description="{{ hotspot.hotspot_description | escape }}">
                            <span class="right-positions" data-identifier="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}-{{ target_counter }}">{{
                                origin_counter }}</span>
                            <span class="ripple"></span>
                        </div>
                        {% endfor %}
                    </figure>
                    {% if card.hotspot_type === 'drag-and-drop' %}
                    <ul class="hotspot-label-list hotspot-origin-container">
                        {% for hotspot in card.hotspots %}
                        {% set clone_counter = ( clone_counter | default(0) ) + 1 %}
                        {% set origin_counter = ( origin_counter | default(-1) ) + 1 %}
                        <li class="hotspot-origin hotspot-label">
                            <span class="drag-handle drag-handle-{{ hotspot_counter }}" data-identifier="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}-{{ origin_counter }}">{{
                                clone_counter }}</span>
                            <span class="clone visually-hidden">{{ clone_counter }}</span>
                            <span class="text">{{ hotspot.hotspot_title }}</span>
                            <!-- <span class="tip">?</span> -->
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% if card.hotspot_type === 'drag-and-drop' %}
                <div class="form__buttons centered">
                    <span class="prompt-hotspot" id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}--prompt"></span>
                    <button class="check-hotspot submit-button disabled" id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}--check-answers">Check
                        your answers!</button>
                    <button class="show-correct-hotspot submit-button visually-hidden" id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}--show-correct-answers">See
                        the correct answers!</button>
                    <button class="reset-hotspot submit-button visually-hidden" id="{{ post.slug }}-quiz-hotspot-{{ hotspot_counter }}--reset">Play
                        again!</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
