<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & learn</h2>
                <article class="quiz-description"><p>{{ card.intro_text }}</p></article>
                <div id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}" class="quiz-dnd">
                    <header class="column-headings">
                        <h3>A{% if card.origin_heading %}: {{ card.origin_heading }}{% endif %}</h3>
                        <h3>B{% if card.target_heading %}: {{ card.target_heading }} {% endif %}</h3>
                    </header>
                    <div class="questions" data-id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}">
                        <ul class="dnd-origin-container">
                            {% for target in card.items %}
                            {% set clone_counter = ( clone_counter | default(0) ) + 1 %}
                            {% set origin_counter = ( origin_counter | default(-1) ) + 1 %}
                            <li class="label dnd-origin dnd-label">
                                <span class="clone visually-hidden">{{ clone_counter }}</span>
                                <span class="text">{{ target.option }}</span>
                                <span class="drag-handle drag-handle-{{ dragndrop_counter }}" data-identifier="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}-{{ origin_counter }}">{{
                                    clone_counter }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="dnd-target-container">
                            {% for target in card.items %}
                            {% set target_counter = ( target_counter | default(-1) ) + 1 %}
                            {% set origin_counter = ( origin_counter | default(0) ) + 1 %}
                            <li class="label dnd-target dnd-label" data-identifier="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}-{{ target_counter }}">
                                <div class="target-content">
                                    <span class="drag-handle-target" data-identifier="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}-{{ target_counter }}"></span>
                                    <span class="right-positions" data-identifier="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}-{{ target_counter }}">{{
                                        origin_counter }}</span>
                                        {% if target.target_sound_file %}
                                        <audio controls controlsList="nodownload" src="{{ target.target_sound_file }}" class="audio-player">
                                            Your browser does not support the
                                            <code>audio</code> element.
                                        </audio>
                                        {% endif %}
                                        <span class="text{% if target.target_sound_file %} visually-hidden{% endif %}">{{ target.target }}</span>
                                </div>
                                <!-- <span class="origin-text">Agricultural wastewater drainage containing fertilizers and pesticides</span> -->
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form__buttons centered">
                    <span class="prompt-dnd" id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}--prompt"></span>
                    <button class="check-dnd submit-button disabled" id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}--check-answers">Check your answers!</button>
                    <button class="show-correct-dnd submit-button visually-hidden" id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}--show-correct-answers">See the correct answers!</button>
                    <button class="reset-dnd submit-button visually-hidden" id="{{ post.slug }}-quiz-dnd-{{ dragndrop_counter }}--reset">Play again!</button>
                </div>
            </div>
        </div>
    </div>
</div>

