<form 
    id="{{ post.slug }}-{{ card.acf_fc_layout }}-{% if card.acf_fc_layout === 'multiple_choice' %}{{ multiple_choice_counter }}{% elif card.acf_fc_layout === 'checkbox'
    %}{{ checkbox_counter }}{% elif card.acf_fc_layout === 'likert' %}{{ likert_counter }}{% else %}{{ quiz_counter }}{%
    endif %}" 
    class="{% if card.acf_fc_layout === 'multiple_choice' %}multiple-choice{% elif card.acf_fc_layout === 'checkbox' %}checkbox-quiz{% elif card.acf_fc_layout === 'likert' %}likert{% endif %}"
    action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec"
    method="POST">
    <fieldset>
        <legend>{{ card.quiz_title }}</legend>
        {{ card.quiz_extended_text }}
        {% if card.acf_fc_layout === 'multiple_choice' or card.acf_fc_layout === 'checkbox' %}
        {% for option in card.quiz_options %}
        {% set options_counter = ( options_counter | default(0) ) + 1 %}
        <p class="{% if card.acf_fc_layout === 'multiple_choice' %}radio{% elif card.acf_fc_layout === 'checkbox' %}checkbox{% elif card.acf_fc_layout === 'likert' %}likert{% endif %}">
            <input id="{{  card.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}" name="{{  card.quiz_field_name }}"
                type="{% if card.acf_fc_layout === 'multiple_choice' %}radio{% elif card.acf_fc_layout === 'likert' %}radio{% elif card.acf_fc_layout === 'checkbox' %}checkbox{% endif %}"
                value="{{  option.quiz_input_value }}" data-type="{% if option.quiz_input_type === 'Σωστό' %}correct{% else %}wrong{% endif %}" />
            <label for="{{  card.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}">
                <span class="input-icon">
                    <i class="icon checkbox-r"></i>
                    <i class="icon checkbox-w-thick"></i>
                </span>
                <span class="input-text">{{ option.quiz_input_value }}</span>
            </label>
            {% if card.acf_fc_layout === 'checkbox' %}
                {% if option.photo %}
                <br><img src="{{ option.photo.url }}" alt="{{ option.quiz_field_name }}" class="checkbox-photo">
                {% endif %}
                {% if option.quiz_prompt %}
                <span class="checkbox-prompt">{{ option.quiz_prompt }}</span>
                {% endif %}
            {% endif %}
        </p>
        {% endfor %}
        {% endif %}
        {% if card.acf_fc_layout === 'likert' %}
        {% set options_counter = ( options_counter | default(0) ) + 1 %}
        <div class="likert-container">
            <p class="likert">
                <input id="{{ card.quiz_field_name }}-{{ post.slug }}-1" type="radio" name="{{  card.quiz_field_name }}"
                    value="not at all">
                <label for="{{  card.quiz_field_name }}-{{ post.slug }}-1">
                    <span class="input-icon"></span>
                    <mark>not at all</mark>
            </p>
            <p class="likert">
                <input id="{{  card.quiz_field_name }}-{{ post.slug }}-2" type="radio" name="{{  card.quiz_field_name }}"
                    value="a little" />
                <label for="{{  card.quiz_field_name }}-{{ post.slug }}-2">
                    <span class="input-icon"></span>
                    <mark>a little</mark>
                </label>
            </p>
            <p class="likert">
                <input id="{{  card.quiz_field_name }}-{{ post.slug }}-3" type="radio" name="{{  card.quiz_field_name }}"
                    value="so and so" />
                <label for="{{  card.quiz_field_name }}-{{ post.slug }}-3">
                    <span class="input-icon"></span>
                    <mark>so and so</mark>
                </label>
            </p>
            <p class="likert">
                <input id="{{  card.quiz_field_name }}-{{ post.slug }}-4" type="radio" name="{{  card.quiz_field_name }}"
                    value="very" />
                <label for="{{  card.quiz_field_name }}-{{ post.slug }}-4">
                    <span class="input-icon"></span>
                    <mark>very</mark>
                </label>
            </p>
            <p class="likert">
                <input id="{{  card.quiz_field_name }}-{{ post.slug }}-5" type="radio" name="{{  card.quiz_field_name }}"
                    value="very much" />
                <label for="{{  card.quiz_field_name }}-{{ post.slug }}-5">
                    <span class="input-icon"></span>
                    <mark>very much</mark>
                </label>
            </p>
        </div>
        {% endif %}
    </fieldset>
</form>