<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & Learn</h2>
                {% include "partials/quiz-form.njk" %}
                <div class="form__buttons">
                    <button 
                        id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}--submit" 
                        class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}">
                        See the correct answer!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}--thankyou_message" class="thankyou_message" style="display: none;">
                        {% if card.acf_fc_layout !== 'likert' %}<p class="check-answer-container"><span class="check-answer"></span></p>{{ card.quiz_thank_you_msg }}{% else %}<small>Thank you for your answer!</small>{% endif %}
                        <button 
                            id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}--reset" 
                            class="button reset submit-button visually-hidden"
                            data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_counter }}">
                            Try again!
                            <span class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
