<div class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide" data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Water meter</h2>
                <form 
                id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_grid_counter }}" 
                class="{{ card.acf_fc_layout }} {{ card.acf_fc_layout }}--grid"
                    action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec" 
                    method="POST">
                    <legend>{{ card.quiz_title }}</legend>
                    <figure>
                        <table class="likert--grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>not at all</th>
                                    <th>a little</th>
                                    <th>so and so</th>
                                    <th>very</th>
                                    <th>very much</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for option in card.quiz_options %}
                                <tr class="radio-block">
                                    <th data-title="Title">{{ option.quiz_question }}</th>
                                    <td data-title="Options">
                                       <p class="likert">
                                            <input id="{{ option.quiz_field_name }}-{{ post.slug }}-1" type="radio" name="{{ option.quiz_field_name }}"
                                                value="not at all">
                                            <label for="{{ option.quiz_field_name }}-{{ post.slug }}-1">
                                                <span class="input-icon"></span>
                                                <!-- <mark>not at all</mark> -->
                                        </p>
                                    </td>
                                    <td data-title="Options">
                                        <p class="likert">
                                            <input id="{{ option.quiz_field_name }}-{{ post.slug }}-2" type="radio" name="{{ option.quiz_field_name }}"
                                                value="a little" />
                                            <label for="{{ option.quiz_field_name }}-{{ post.slug }}-2">
                                                <span class="input-icon"></span>
                                                <!-- <mark>a little</mark> -->
                                            </label>
                                        </p>
                                    </td>
                                    <td data-title="Options">
                                        <p class="likert">
                                            <input id="{{ option.quiz_field_name }}-{{ post.slug }}-3" type="radio" name="{{ option.quiz_field_name }}"
                                                value="so and so" />
                                            <label for="{{ option.quiz_field_name }}-{{ post.slug }}-3">
                                                <span class="input-icon"></span>
                                                <!-- <mark>so and so</mark> -->
                                            </label>
                                        </p>
                                    </td>
                                    <td data-title="Options">
                                        <p class="likert">
                                            <input id="{{ option.quiz_field_name }}-{{ post.slug }}-4" type="radio" name="{{ option.quiz_field_name }}"
                                                value="very" />
                                            <label for="{{ option.quiz_field_name }}-{{ post.slug }}-4">
                                                <span class="input-icon"></span>
                                                <!-- <mark>very</mark> -->
                                            </label>
                                        </p>
                                    </td>
                                    <td data-title="Options">
                                        <p class="likert">
                                            <input id="{{ option.quiz_field_name }}-{{ post.slug }}-5" type="radio" name="{{ option.quiz_field_name }}"
                                                value="very much" />
                                            <label for="{{ option.quiz_field_name }}-{{ post.slug }}-5">
                                                <span class="input-icon"></span>
                                                <!-- <mark>very much</mark> -->
                                            </label>
                                        </p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </figure>
                </form>
                <div class="form__buttons centered">
                    <button id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_grid_counter }}--submit" class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_grid_counter }}">
                        Submit
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_grid_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_grid_counter }}--thankyou_message" class="thankyou_message"
                        style="display: none;">
                        <small>Thank you for your answer!</small>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>