<div 
class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} quiz-sortable slide"
data-id="app-card--{{ page_counter }}"> 
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                {% if card.sortable_text %}
                {{ card.sortable_text }}
                {% endif %}
                <div class="sortable-container">
                    {% for option in card.sortable_options %}
                    {% set options_counter = ( options_counter | default(0) ) + 1 %}
                    <div class="list-item list-item-{{ options_counter }}">
                        <div class="item-content">
                            <span class="right-order">{{ option.right_order }}</span>
                            <span class="user-input-order order"></span>
                            <span class="label">{{ option.quiz_input_value }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>