<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & Learn</h2>
                <form 
                    id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}" 
                    class="{{ card.acf_fc_layout }}"
                    data-type="fade"
                    action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec" 
                    method="POST">
                    <fieldset>
                        {% if card.quiz_title %}
                        <legend>{{ card.quiz_title }}</legend>
                        {% endif %}
                        {% if card.quiz_extended_text %}
                        <p>{{ card.quiz_extended_text }}</p>
                        {% endif %}
                        <div class="{% for option in card.quiz_options %}{% if option.photo.url %} with-image{% endif %}{% endfor %}">
                            {% for option in card.quiz_options %}
                            {% set options_counter = ( options_counter | default(0) ) + 1 %}
                                <div class="{{ card.acf_fc_layout }}" data-cycle='false'>
                                    <div class="form-buttons">
                                        <input 
                                            id="{{  card.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}" name="{{  card.quiz_field_name }}"
                                            type="checkbox"
                                            value="{{  option.quiz_input_value }}" 
                                            data-type="{% if option.quiz_input_type === 'Σωστό' %}correct{% else %}wrong{% endif %}" 
                                            />
                                        <label 
                                            for="{{  card.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}">
                                            <span class="input-icon">
                                                <i class="icon checkbox-r"></i>
                                                <i class="icon checkbox-w-thick"></i>
                                            </span>
                                            <span class="input-text">{{ option.quiz_input_value }}</span>
                                        </label>
                                        {% if option.quiz_prompt %}
                                        <p class="checkbox-prompt visually-hidden">
                                            {{ option.quiz_prompt }}
                                        </p>
                                        {% endif %}
                                    </div>
                                    {% if option.photo.url %}
                                    <div class="slide__image">
                                        <figure>
                                            <img src="{{ option.photo.url }}" alt="{{ option.quiz_field_name }}" class="checkbox-photo">
                                        </figure>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <!-- <nav class="prev-next" data-id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}">
                                <button type="button" class="prev disabled" tabindex="-1">
                                    <i class="icon arrow_right"></i> <span>previous</span>
                                </button>
                                <button type="button" class="next" tabindex="-1">
                                    <span>next</span> <i class="icon arrow_right"></i>
                                </button>
                            </nav> -->
                        </div>
                    </fieldset>
                </form>
                <div class="form__buttons">
                    <button 
                        id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}--submit" 
                        class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}"
                        >
                        View the correct answers!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50" id="circle-loader">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}--thankyou_message" class="thankyou_message" style="display: none;">
                        <span class="check-answer">{{ card.quiz_thank_you_msg }}</span>
                        <button 
                        id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}--reset" 
                        class="button reset submit-button visually-hidden"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}">
                            Try again!
                            <span class="loader">
                                <svg class="circular" viewBox="25 25 50 50" id="circle-loader">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ checkbox_counter }}--form-error" class="form-error"></small>
                </div>
            <!-- <div class="scroll-hint abs bottom left right">
                <h5 class="desktop">Scroll or use the arrow keys to navigate.</h5>
                <h5 class="swipe">Swipe to navigate.</h5>
                <div class="scroll-hint-icons">
                    <svg class="desktop" x="0px" y="0px" width="136px" height="36px" viewBox="0 0 136 36" style="enable-background:new 0 0 136 36;">
                        <g>
                            <path class="st2" d="M76.197,26.514c0,4.212-3.415,7.627-7.628,7.627l0,0c-4.212,0-7.626-3.415-7.626-7.627V11.262
                    c0-4.212,3.414-7.627,7.626-7.627l0,0c4.213,0,7.628,3.415,7.628,7.627V26.514z"></path>
                            <circle class="st1" cx="68.569" cy="10.829" r="2.233"></circle>
                        </g>
                        <g>
                            <path class="st0" d="M113.76,10.557c0.286,0.253,0.43,0.541,0.43,0.865s-0.144,0.594-0.43,0.81l-6.643,6.048l6.643,6.103
                    c0.286,0.216,0.43,0.485,0.43,0.81s-0.144,0.612-0.43,0.863c-0.542,0.541-1.082,0.541-1.621,0l-8.64-7.775l8.64-7.723
                    C112.678,10.018,113.218,10.018,113.76,10.557z M130.499,18.279l-8.587,7.775c-0.574,0.541-1.134,0.541-1.674,0
                    c-0.251-0.251-0.377-0.539-0.377-0.863s0.126-0.594,0.377-0.81l6.695-6.103l-6.695-6.048c-0.251-0.216-0.377-0.485-0.377-0.81
                    s0.126-0.612,0.377-0.865c0.54-0.539,1.1-0.539,1.674,0L130.499,18.279z"></path>
                        </g>
                    </svg>
            
                    <svg class="swipe" x="0px" y="0px" width="42px" height="36px" viewBox="0 0 42 36" style="enable-background:new 0 0 42 36;">
                        <g>
                            <path class="st0" d="M29.09,22.027c0-2.086-0.72-3.129-2.162-3.129c-0.224,0-0.465,0.029-0.724,0.083
                    c-0.**********************.679-0.786c-0.316-0.193-0.633-0.289-0.952-0.289c-0.321,0-0.617,0.1-0.894,0.299
                    c-0.431-0.586-0.944-0.877-1.54-0.877c-0.215,0-0.455,0.054-0.718,0.164c-0.264,0.111-0.468,0.248-0.616,0.414v-5.478
                    c0-0.575-0.163-1.071-0.491-1.489c-0.328-0.42-0.717-0.629-1.166-0.629c-0.439,0-0.827,0.215-1.158,0.645
                    c-0.333,0.43-0.498,0.922-0.498,1.474v9.532c-0.173,0-0.382-0.082-0.628-0.248c-0.245-0.165-0.484-0.348-0.712-0.547
                    c-0.229-0.198-0.522-0.379-0.88-0.546c-0.358-0.165-0.722-0.248-1.093-0.248c-0.578,0-1,0.246-1.263,0.736
                    c-0.264,0.491-0.432,0.851-0.334,1.628c0.039,0.311,0.816,1.049,1.739,1.773c0.364,0.285,0.66,0.47,0.841,0.611
                    c0.552,0.443,1.177,1.061,1.877,1.855c0.699,0.783,1.157,1.341,1.372,1.672c0.493,0.761,0.738,1.532,0.738,2.316v0.529h8.285
                    v-0.529c0-0.795,0.137-1.716,0.414-2.764c0.275-1.049,0.553-2.116,0.828-3.203C28.953,23.912,29.09,22.921,29.09,22.027z"></path>
                            <g>
                                <polygon class="st0" points="13.517,9.979 13.517,12.256 8.986,12.189 9.321,14.717 4.517,11.117 9.321,7.518 8.987,10.047"></polygon>
                                <polygon class="st0" points="31.602,7.556 36.423,11.156 31.603,14.756 31.968,12.203 27.423,12.273 27.423,9.996 31.97,10.062"></polygon>
                            </g>
                        </g>
                    </svg>
                </div>
            </div> -->
            </div>
        </div>
    </div>
</div>