<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Water meter</h2>
                {% include "partials/quiz-form.njk" %}
                <button 
                    id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}--submit" 
                    class="button submit submit-button"
                    data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}">
                    Submit
                    <span class="loader">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                        </svg>
                    </span>
                </button>
                <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}--form-error" class="form-error"></small>
                <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}--thankyou_message" class="thankyou_message" style="display: none;">
                    {% if card.acf_fc_layout !== 'likert' %}<p><span class="check-answer"></span><br> {{ card.quiz_thank_you_msg }}</p>{%
                    else %}<small>Thank you for your answer!</small>{% endif %}
                    <button 
                        id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}--reset" 
                        class="button reset submit-button visually-hidden"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ likert_counter }}">
                        Try again!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>