<div 
    class="app-card app-card--quiz app-card--{{ ft.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Water shares</h2>
                {% for ft in card.feedback_type %}
                {% if ft.acf_fc_layout === 'feedback_short_text' %}
                {% set feedback_short_text_counter = ( feedback_short_text_counter | default(0) ) + 1 %}
                <form 
                    id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_short_text_counter }}" 
                    class="{{ ft.acf_fc_layout }}" 
                    data-type="fade"
                    action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec" 
                    method="POST">
                    <fieldset>
                        <legend>{{ ft.form_description }}</legend>
                        <textarea 
                            id="{{ ft.form_field_name }}-{{ point.slug }}" 
                            name="{{ ft.form_field_name }}" 
                            rows="10" 
                            cols="70"
                            wrap="hard" 
                            placeholder="Share your ideas with us (100 words max)."></textarea>
                    </fieldset>
                </form>
                <div class="form__buttons">
                    <button 
                        id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_short_text_counter }}--submit" 
                        class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_short_text_counter }}">
                        Submit!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_short_text_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_short_text_counter }}--thankyou_message" class="thankyou_message" style="display: none;">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="150"
                            viewBox="0 0 33 30" style="enable-background:new 0 0 33 30;" xml:space="preserve">
                            <g>
                                <path fill="#0050C2" class="st0" d="M28.6,21.5c1.9-2.1,3.1-4.8,3.1-7.6c0-7-7-12.7-15.6-12.7C7.6,1.2,0.6,6.9,0.6,13.9c0,7,7,12.7,15.6,12.7
                                c1.9,0,3.7-0.3,5.4-0.8l10.1,3L28.6,21.5z" />
                            </g>
                            <text fill="white" style="font-size: 5px;font-family: cf_asty_stdbold" transform="matrix(1 0 0 1 4 15)">
                                thank you!
                            </text>
                        </svg>
                    </div>
                </div>
                <hr>
                {% elif ft.acf_fc_layout === 'feedback_text' %}
                {{ ft.text }}
                <hr>
                {% elif ft.acf_fc_layout === 'feedback_likert_scale' %}
                {% set feedback_likert_counter = ( feedback_likert_counter | default(0) ) + 1 %}
                <form id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_likert_counter }}" class="{{ ft.acf_fc_layout }}"
                    data-type="fade" action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec"
                    method="POST">
                    <fieldset>
                        <legend>{{ ft.quiz_title }}</legend>
                        {% set options_counter = ( options_counter | default(0) ) + 1 %}
                        <div class="likert-container">
                            <p class="likert">
                                <input id="{{ ft.quiz_field_name }}-{{ post.slug }}-1" type="radio" name="{{  ft.quiz_field_name }}"
                                    value="not at all">
                                <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-1">
                                    <span class="input-icon"></span>
                                    <mark>not at all</mark>
                            </p>
                            <p class="likert">
                                <input id="{{  ft.quiz_field_name }}-{{ post.slug }}-2" type="radio" name="{{  ft.quiz_field_name }}"
                                    value="a little" />
                                <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-2">
                                    <span class="input-icon"></span>
                                    <mark>a little</mark>
                                </label>
                            </p>
                            <p class="likert">
                                <input id="{{  ft.quiz_field_name }}-{{ post.slug }}-3" type="radio" name="{{  ft.quiz_field_name }}"
                                    value="so and so" />
                                <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-3">
                                    <span class="input-icon"></span>
                                    <mark>so and so</mark>
                                </label>
                            </p>
                            <p class="likert">
                                <input id="{{  ft.quiz_field_name }}-{{ post.slug }}-4" type="radio" name="{{  ft.quiz_field_name }}"
                                    value="very" />
                                <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-4">
                                    <span class="input-icon"></span>
                                    <mark>very</mark>
                                </label>
                            </p>
                            <p class="likert">
                                <input id="{{  ft.quiz_field_name }}-{{ post.slug }}-5" type="radio" name="{{  ft.quiz_field_name }}"
                                    value="very much" />
                                <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-5">
                                    <span class="input-icon"></span>
                                    <mark>very much</mark>
                                </label>
                            </p>
                        </div>
                    </fieldset>
                </form>
                <div class="form__buttons">
                    <button id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_likert_counter }}--submit" class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_likert_counter }}">
                        Submit!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_likert_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_likert_counter }}--thankyou_message" class="thankyou_message"
                        style="display: none;">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="150" viewBox="0 0 33 30" style="enable-background:new 0 0 33 30;" xml:space="preserve">
                            <g>
                                <path fill="#0050C2" class="st0" d="M28.6,21.5c1.9-2.1,3.1-4.8,3.1-7.6c0-7-7-12.7-15.6-12.7C7.6,1.2,0.6,6.9,0.6,13.9c0,7,7,12.7,15.6,12.7
                                                c1.9,0,3.7-0.3,5.4-0.8l10.1,3L28.6,21.5z" />
                            </g>
                            <text fill="white" style="font-size: 5px;font-family: cf_asty_stdbold" transform="matrix(1 0 0 1 4 15)">
                                thank you!
                            </text>
                        </svg>
                    </div>
                </div>
                <hr>
                {% elif ft.acf_fc_layout === 'feedback_multiple_choice' %}
                {% set feedback_mc_counter = ( feedback_mc_counter | default(0) ) + 1 %}
                <form id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}" class="{{ ft.acf_fc_layout }}"
                    data-type="fade" action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec"
                    method="POST">
                    <fieldset>
                        <legend>{{ ft.quiz_title }}</legend>
                        {% for option in ft.quiz_options %}
                        {% set options_counter = ( options_counter | default(0) ) + 1 %}
                        <p class="radio">
                            <input id="{{ ft.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}" name="{{ ft.quiz_field_name }}"
                                type="radio"
                                value="{{ option.quiz_input_value }}" data-type="{% if option.quiz_input_type === 'Σωστό' %}correct{% else %}wrong{% endif %}" />
                            <label for="{{  ft.quiz_field_name }}-{{ post.slug }}-{{ options_counter }}">
                                <span class="input-icon">
                                    <i class="icon checkbox-r"></i>
                                    <i class="icon checkbox-w-thick"></i>
                                </span>
                                <span class="input-text">{{ option.quiz_input_value }}</span>
                            </label>
                        </p>
                        {% endfor %}
                    </fieldset>
                </form>
                <div class="form__buttons">
                    <button id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}--submit" class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}">
                        Submit!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}--thankyou_message" class="thankyou_message" style="display: none;">
                        <p class="check-answer-container"><span class="check-answer"></span></p>{{ card.quiz_thank_you_msg }}
                        <button 
                            id="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}--reset" 
                            class="button reset submit-button visually-hidden"
                            data-target="{{ post.slug }}-{{ ft.acf_fc_layout }}-{{ feedback_mc_counter }}">
                            Try again!
                            <span class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>