<div 
    class="app-card app-card--quiz app-card--{{ card.acf_fc_layout }} quiz-{{ quiz_counter}} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>Play & learn</h2>
                {{ card.quiz_description }}
                {% for option in card.quiz %}
                {% set options_counter = ( options_counter | default(0) ) + 1 %}
                <form 
                id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}" 
                class="multiple-choice" 
                action="https://script.google.com/macros/s/AKfycbw1oGJX_SA1GoFe7SU11Va_Rro3vvBkm4ATS-JA/exec" 
                method="POST">
                    <fieldset>
                        <legend>
                            {{ option.quiz_title }}
                        </legend>
                        {{ option.quiz_extended_text }}
                        {% for sub_option in option.quiz_options %}
                        {% set sub_options_counter = ( sub_options_counter | default(0) ) + 1 %}
                        <p class="radio">
                            <input 
                                id="{{ option.quiz_field_name }}-{{ post.slug }}-{{ sub_options_counter }}" 
                                name="{{ option.quiz_field_name }}"
                                type="radio" 
                                value="{{  sub_option.quiz_input_value }}" 
                                data-type="{% if sub_option.quiz_input_type === 'Σωστό' %}correct{% else %}wrong{% endif %}" />
                            <label for="{{  option.quiz_field_name }}-{{ post.slug }}-{{ sub_options_counter }}">
                                <span class="input-icon">
                                    <i class="icon checkbox-r"></i>
                                    <i class="icon checkbox-w-thick"></i>
                                </span>
                                
                                <span class="input-text"> {{ sub_option.quiz_input_value }}</span>
                            </label>
                        </p>
                        {% endfor %}
                    </fieldset>
                </form>
                <div class="form__buttons">
                    <button 
                        id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}--submit" 
                        class="button submit submit-button"
                        data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}">
                        See the correct answer!
                        <span class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg>
                        </span>
                    </button>
                    <small id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}--form-error" class="form-error"></small>
                    <div id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}--thankyou_message" class="thankyou_message"
                        style="display: none;">
                        <p class="check-answer-container"><span class="check-answer"></span><br> {{ option.quiz_thank_you_message }}</p>
                        <button 
                            id="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}--reset" 
                            class="button reset submit-button visually-hidden"
                            data-target="{{ post.slug }}-{{ card.acf_fc_layout }}-{{ multiple_choice_multiple_counter }}-{{ options_counter }}">
                            Try again!
                            <span class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>