<div 
    class="app-card app-card--{{ card.acf_fc_layout }} slide"
    data-id="app-card--{{ page_counter }}">
    <div class="scroll-container">
        <div class="inner-scroll">
            <div class="container">
                <h2>{{ card.type }}</h2>
                {{ card.text }}
            </div>
        </div>
    </div>
</div>