button, 
label,
.label {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    font-size: 16px;
    @include sans_light;
    line-height: 1.2;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

button {
   @include sans_regular;
   svg, i {
        display: inline-block; //MS Edge needs this to be inline-block for pointer-events to work
        pointer-events: none;
    } 
}

@mixin button($bg_color: $orange, $border_color: transparent, $color: white, $max_width: 450px) {
    max-width: $max_width;
    background-color: $bg_color;
    border-color: $border_color;
    color: $color;
    padding: 8px 20px 8px 12px;
}

@mixin button--pill {
    border-radius: 30px;
}

@mixin button--square {
    border-radius: 5px;
}

@mixin button--pill-draggable {
    //min-height: 50px;
}

@mixin button--pill__small {
    font-size: 0.7rem;
    padding: 0.3rem 0.6rem;
}

@mixin button--pill__border($brd_color: transparent) {
    border-width: 3px;
    border-color: $brd_color;
    border-style: solid;
}

@mixin button--default($bg_color: $blue, $border_color: $blue, $color: white, $width: auto) {
    max-width: $width;
    background-color: $bg_color;
    border-color: $border_color;
    color: $color;
    border-radius: 5px;
}