/**
 * Drag and Drop quiz
 * drag-and-drop = dnd
 */
.app-card--dragndrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  .inner-scroll h2, .quiz-description {
      width: 750px;
      margin-left: auto;
      margin-right: auto;
  }
  .inner-scroll .container {
    width: 950px;
    max-width: 950px!important;
  }
  h2 {
    align-self: flex-start;
  }
  .form__buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .submit-button {
        cursor: pointer;
      }
      .prompt-dnd {
        position: absolute;
        text-align: center;
        width: auto;
        left: auto;
        transform: unset;
        background-color: transparent;
        @include rem-fallback(font-size, 20);
        &.correct {
          margin-top: 10px;
          padding: 10px 20px;
          color: $green;
        }
        &.wrong {
           margin-top: 10px;
           color: $red;
           font-family: $regular;
        }
      }
  }
}

@media screen and (max-width: 1199px) {
  .app-card--dragndrop {
    .inner-scroll .container {
      width: auto;
    }
    .inner-scroll h2, .quiz-description {
      width: auto;
    }
  }
}

//dnd container
.quiz-dnd {
    position: relative;
    width: 100%;
    margin-top: 2em;
    .column-headings {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 60px;
      h3 {
        @include rem_fallback(font-size, 21);
      }
    }
    .questions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 52px;
    }
    h3 {
      font-size: 22px;
      text-align: center;
      @include sans_medium;
    }
    ul {
        position: relative;
        width: 100%;
        list-style-type: none;
        margin: 0!important;
        margin-bottom: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        &.dnd-target-container {
          li {
            @include button--square;
            flex-direction: column;
            align-items: flex-start;
            border-color: $blue;
            border-style: solid;
            .target-content {
              display: flex;
              justify-content: space-between;
              align-content: center;
            }
            .origin-text {
              font-size: 14px;
              display: block;
              border-top: 1px solid $blue;
              margin-top: 10px;
              padding-top: 10px;
              display: none;
            }
            &.available {
              border-style: dashed;
              border-color: $text;
              border-color: #666;
            }
          }
          .text {
              text-align: left;
              @include sans_regular;
          }
        }
        &.dnd-origin-container {
            flex-direction: column;
            li {
              border-color: transparent;
              border-style: solid;
              border-radius: 5px;
              align-items: flex-start;
              background-color: lighten($blue, 50%);
            }
            .text {
                text-align: left;
                 @include sans_regular;
            }
        }
        li {
          position: relative;
          width: 100%;
          margin-bottom: 15px;
          padding: 8px 12px 8px 12px!important;
          list-style-type: outside; //otherwise IE11 shows bullets
          @include button(transparent, $text, $text, 450px);
          &.correct {
            border-color: $green;
          }
          &.wrong {
            border-color: $red;
          }
        }
    }
    
}

@media (max-width: 500px) {
  .quiz-dnd {
    flex-direction: column;
    width: 480px;
  }
}
//dbd lists
.dnd-origin {
  &.highlighted {
    background-color: lighten($blue, 40%)!important;
  }
}

.quiz-dnd li:last-child {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .quiz-dnd ul {
    margin-top: 10px;
    padding: 0;
  }
}

.dnd-label {
  &.wrong {
      margin: 0;
      padding: 0;
    }
    &.correct {
      margin: 0;
      padding: 0;
    }
  .drag-handle,
  .drag-handle-target,
  .right-positions, 
  .clone {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    min-height: 36px;
    border-radius: 50%;
    margin-left: 12px;
    background: $blue;
    color: white;
    font-family: $bold;
    @include rem_fallback(font-size, 16);
    &.disabled {
      pointer-events: none;
    }
    &.wrong {
      margin: 0;
      padding: 0;
    }
    &.correct {
      margin: 0;
      padding: 0;
    }
  }
  .drag-handle-target {
      color: $text;
    }
  .right-positions {
    background: $green;
  }
  .drag-handle {
    z-index: 1;
  }
  .drag-handle-target {
    background-color: $grey_light;
    border: 2px solid $grey_light;
    //    background-color: red;
    // border: 2px solid red;
    float: right;
    margin-left: 0;
    margin-right: 15px;
    &:after {
      content: '+';
      font-family: $regular;
      font-size: 21px;
    }
    &.showOver{
      border: 2px solid $accent;
    }
    &.transparent {
        background-color: transparent;
        border: 2px solid transparent;
    }
  }
  .right-positions {
    position: absolute;
    top: 8px;
    left: 0px;
    opacity: 0;
    font-size: 16px;
  }
  .text, .sound {
    flex: 1;
    align-self: center;
    display: inline;
    margin: 0 auto;
    font-size: 16px;
    margin-left: 0;
    margin-right: 12px;
    line-height: 1.3;
    color: #333;
  }
  .sound {
    width: 64px;
    height: 32px;
    overflow: hidden;
  }
  .clone {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 12px;
    margin-left: 12px;
    z-index: 0;
    background: #efefef;
    color: $text;
    top: 8px;
    &.default { //make the clone take up space
      position: relative;
       left: auto;
       transform: translate(0, 0);
    }
  }
  
}

.quiz-dnd ul li.showOver {
    //animation: ripple .4s ease-out;
    animation: glow 0.6s 1;
    transform: rotateZ(360deg);
    
}
.glow {  
  animation: glow 1.75s 1;
  transform: rotateZ(360deg);
}
.glow-infinite {  
  animation: glow_large 1.75s infinite;
  transform: rotateZ(360deg);
}

.static-glow {
  box-shadow: 0 0 0 15px rgba(254, 122, 0, 0.4);
  transform: rotateZ(360deg)
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 rgba(254, 122, 0, 0.6);
    }
    80% {
        box-shadow: 0 0 0 10px rgba(254, 122, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(254, 122, 0, 0);
    }
}

@keyframes glow_large {
    0% {
        box-shadow: 0 0 0 0 rgba(254, 122, 0, 0.6);
    }
    80% {
        box-shadow: 0 0 0 20px rgba(254, 122, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(254, 122, 0, 0);
    }
}


.highlight-correct {
  background-color: rgba($green, 1)!important;
}

.highlight-wrong {
  background-color: rgba(red, 1)!important;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.check-dnd {
  margin-bottom: 0px;
}

.reset-dnd {
 
  margin-right: 0;
}

@media(max-width: 1048px) {
  .quiz-dnd {
    .questions {
     grid-gap: 52px;
    }
    .dnd-target-container {
     
    }
    .dnd-origin-container {
      
    }
  }
}