form {
  display: block;
  margin-top: 0;
  @include sans_light;
  @include rem-fallback(margin-top, 20);
  
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: $text;
  border-image: initial;
  @include rem-fallback(font-size, 26);
  line-height: 1.4;
  margin-bottom: 1em;
  @include sans_medium;
  color: #444;
  p {
      @include rem-fallback(font-size, 26);
      line-height: 1.4;
  }
}

label {
  display: block;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  display: inline-block;
}

input, 
keygen, 
select, 
button {
  text-rendering: auto;
  color: $text;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  @include rem-fallback(font-size, 16);
}

input, 
keygen, 
select, 
button, 
meter, 
progress {
  -webkit-writing-mode: horizontal-tb;
}

input:not([type]), 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="text"] {
    padding: 1px 0px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: $text;
  border-image: initial;
}

textarea {
  resize: none;
  font-family: monospace;
}
 
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  border-image: initial;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #bbb;
  color: $dark;

}

::-webkit-input-placeholder {
  text-align: left;
}

input + label .input-icon {
  position: relative;
  i {
    position: absolute;
    top: -2px;
  }
  .checkbox-r {
    left: 5px;
  }
  .checkbox-w-thick {
    left: -2px;
  }
}



input + label .input-text {
  width: calc(100% - 34px);
  @include rem-fallback(font-size, 20);
  line-height: 1.3;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  display: flex;
  @include rem-fallback(margin-bottom, 10);
}

input[type="checkbox"] + label  {
  display: flex;
  align-items: flex-start;
}

input[type="radio"] + label i, 
input[type="checkbox"] + label i {
  opacity: 0;
}
/*radio*/ 
input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: $text;
  //@include rem-fallback(font-size, 21);
  line-height: 30px;
}

input[type="radio"] + label .input-icon {
  display:inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

input[type="radio"] + label .input-icon {
  background-color: $grey_light;
}

/*radio-buttons: likert scale*/
.likert-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

form .likert {
  position: relative;
  text-align: center; 
}

form .likert input {
  display: block;
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, -100%) rotate(0.001deg);
  z-index: 10;
  cursor: pointer;
}

form .likert mark {
  display: block;
  text-align: center;
}

form .likert.scale-label {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

/*checkbox*/ 
input[type="checkbox"] {
  //display: none;
  opacity: 0;
}

input[type="checkbox"] + label {
  color: $text;
  //@include rem-fallback(font-size, 21);
  line-height: 30px;
}

input[type="checkbox"] + label .input-icon {
  display:inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}

input[type="checkbox"] + label .input-icon {
  background-color: $grey_light;
  // box-shadow: inset 0px 2px 5px #bbb;
}

.checkbox-prompt, .checkbox-prompt.visible {
  margin-top: 0;
  display: inline-flex;
  padding: 5px 10px;
  background-color: lighten($grey_light,5%);
  @include rem-fallback(font-size, 16);
  
}

/**
 * Checked input
 */
input:checked + label .input-icon {
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: 3px 0px;
  box-shadow: 0px 0 0px;
  .checkbox-r {
    opacity: 1;
  }
}

.slider input:checked + label .input-icon {
  // background-color: $orange;
  .checkbox-r {
    opacity: 1;
  }
}

/**
 * Correct / wrong answer styling
 */
.submitted input[data-type="correct"] + label .input-icon {
  vertical-align: top;
  margin-right: 10px;
  .checkbox-r {
    opacity: 1;
  }
  .checkbox-w-thick {
    opacity: 0;
  }
}

.submitted input[data-type="wrong"] + label .input-icon {
  vertical-align: top;
  margin-right: 10px;
  .checkbox-w-thick {
    opacity: 1;
  }
  .checkbox-r {
    opacity: 0;
  }
}

.submitted input[data-type="correct"] + label.selected .input-icon {
    background-color: $green;
}

.submitted input[data-type="wrong"] + label.selected .input-icon {
    background-color: $red;
}

.slider {
  .submitted input[data-type="correct"] + label {
    // background-color: $disabled;
  } 
  .submitted input[data-type="wrong"] + label {
    // background-color: $disabled;
  }

 
  
  .submitted input[data-type="correct"] + label.selected .input-icon {
    // background-color: $orange;
  }

  .submitted input[data-type="wrong"] + label.selected .input-icon {
      // background-color: $orange;
  }
}

/**
 * Disabled input
 */
input:disabled + label .input-icon {
  cursor: default;
}

/*select*/ 
select:not(:-internal-list-box) {
  overflow: visible !important;
}
 
select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: $text;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: $text;
  border-image: initial;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/**
 * Buttons
 */
.form__buttons {
  position: relative;
  display: flex;
  width: 100%;
  @include rem-fallback(padding-top, 45);
  .prompt-dnd {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .form-error {
    align-self: center;
    @include sans_regular;
  }
  .submit-button {
    align-self: flex-start;
    margin: 0;
    @include rem-fallback(margin-right, 30);
  }
  .thankyou_message {
    display: flex;
    flex-direction: column;
  }
  .check-answer-container {
    span {
      padding: 0;
    }
    .wrong {
      margin: 0;
    }
  }
  &.centered {
    align-content: center;
    justify-content: center;
    @include rem-fallback(padding-top, 60);
    .submit-button {
      align-self: center;
      margin: 0;
    }
    .check-answer-container {
      text-align: center;
    }
    .form-error {
      position: absolute;
      right: 0;
    }
  }
}

.submit, 
.submit-button {
  position: relative;
  //@include rem-fallback(font-size, 16);
  margin-top: 35px;
  @include rem-fallback(margin-bottom, 60);
  padding: 12px 40px;
  // border: 2px solid $text;
  border-radius: 5px;
  background: $blue;
  color: #fff;
  &.disabled {
    background-color: $gray-light;
    color: #999;
  }
}

.reset.submit-button {
  display: block;
  margin: 0;
  @include rem-fallback(margin-top, 20);
}

form mark {
  background-color: transparent;
  @include rem-fallback(font-size, 22);
  color: $text;
}

.check-answer {
  line-height: 1;

}

.thankyou_message {
  // @include rem-fallback(margin-bottom, 60);
}

.form-error {
  color: black;
}

.checkbox-photo {
  @include rem-fallback(margin-top, 20);
}

.correct {
  display: inline-block;
  @include sans_medium;
  color: $green;
  border-radius: 30px;  
  @include rem-fallback(font-size, 20);
}

div.checkbox {
  display: flex;
  @include rem-fallback(margin-bottom, 30); 
  @include rem-fallback(padding-bottom, 30);
  border-bottom: 1px solid $grey_light;
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .slide__image {
    @include rem-fallback(margin-right, 30);
    figure {
      display: flex;
      img {
        margin-top: 0;
      }
    } 
    
  }

  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    .checkbox-prompt {
      @include rem-fallback(margin-top, 15);
    }
  }
}

.wrong {
  display: inline-block;
  @include sans_regular;
  color: $red;
  padding: 10px 0;
  font-size: 16px;
  // @include rem-fallback(margin-top, 30);
  // @include rem-fallback(margin-top, 15);
}

input[type="checkbox"] + label:focus {
  border: 1px dotted #ccc;
  border-radius: 30px;
}

.submit-button:focus {
  border: 1px dotted #ccc;
  border-radius: 5px;
}



@media screen and (max-width: 1199px) {
  form .likert {
    label {
      justify-content: flex-start;
    }
  }

  .likert-container {
    flex-direction: column;
  }
}

