/**
 * Hotspot quiz
 */

.app-screen .app-card {
  &--hotspot {
    .form {
      &__buttons {
        //margin-bottom: 6%;
      }
    }
  }
  &--hotspot-drag-and-drop {
      width: 85%;
      padding: 0;
      .container {
        max-width: 100%!important;
      }
      .quiz-description {
        max-width: 850px;
        margin: 0 auto;
      }
      .inner-scroll h2 {
        max-width: 850px;
        margin: 1em auto .5em auto;
      }
      ul.hotspot-origin-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        flex: 1; //IE11 - otherwise flex children do not respect the width
        list-style-type: none;
        margin: 0 0 0 24px;
        li.hotspot-label {
          position: relative;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 4px;
          padding-right: 12px;
          margin-right: 12px;
          margin-bottom: 12px;
          border-color: transparent;
          border-style: solid;
          border-radius: 36px;
          background-color: lighten($blue, 52%);
          list-style-type: outside; //otherwise IE11 shows bullets WTF
          list-style-type: none; //otherwise firefox shows numbers WTF
          color: $text;
          &.highlighted {
            background-color: lighten($blue, 40%)!important;
          }
          .drag-handle, .clone {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 12px;
            background: $blue;
            color: white;
            font-family: $bold;
            font-size: 14px;
            line-height: 1;
            z-index: 1;
            &.wrong, &.correct {
              margin: 0;
              margin-right: 12px;
              padding: 0;
            }
            &.highlight-correct {
              background-color: rgba($green, 1)!important;
              color: white;
            }
            &.highlight-wrong {
              background-color: rgba($red, 1)!important;
              color: white;
            }
          }
          .clone {
            position: absolute;
            left: 4px;
            top: 4px;
            background-color: white;
            color: #888;
            z-index: 0;
            &.default {
              position: relative;
              top: 0;
              left: 0;
            }
            font-size: 14px;
            line-height: 1;
          }
          .text {
            flex: 1;
            font-size: 14px;
            line-height: 1.2;
            text-align: left;
            color: #333;
            @include sans_regular;
          }
          .tip {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            margin-left: 12px;
            font-family: $bold;
            font-size: 15px;
            color: #333;
          }
        }
      }
      .hotspot-image {
        position: relative;
        margin: 0;
        max-width: 650px;
        img {
          max-width: 100%;
        }
        .hotspot {
          display: block;
          position: absolute;
          background: rgba($blue, 0.4);
          border: 2px solid white;
          width: 26px;
          height: 26px;  
          border-radius: 50%;
          &:hover {
            cursor: pointer;
          }
          &.hit {
            animation: ripple .4s ease-out; 
          }
          .right-positions {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 34px;
            height: 34px;
            min-height: 34px;
            border-radius: 50%;
            background: $green;
            color: white;
            font-family: $bold;
            position: absolute;
            opacity: 0;
            font-size: 16px;
            top: -6px;
            left: -6px;
            animation: ripple_rp .4s ease-out;
          }
        }
        .showOver {
          background: white;
          animation: ripple .4s ease-out;
        }
      }
      .form__buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .submit-button {
          cursor: pointer;
        }
        .prompt-hotspot {
          position: absolute;
          text-align: center;
          width: auto;
          top: 0;
          left: auto;
          transform: unset;
          background-color: transparent;
          &.correct {
            margin-top: 10px;
            padding: 10px 20px;
            color: $green;
          }
          &.wrong {
            margin-top: 10px;
            color: $red;
            font-family: $regular;
          }
        }
      }
  }
  &--hotspot-mouseover {
    .hotspot-image {
      position: relative;
      max-width: 750px;
      margin: 0 auto;
      img {
        max-width: 100%;
        height: auto;
      }
      .hotspot {
        display: block;
        position: absolute;
        background: rgba($blue, 0.4);
        border: 2px solid white;
        width: 26px;
        height: 26px;  
        border-radius: 50%;
        &:hover {
          cursor: pointer;
        }
        .right-positions {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 34px;
          height: 34px;
          min-height: 34px;
          border-radius: 50%;
          background: $green;
          color: white;
          font-family: $bold;
          position: absolute;
          opacity: 0;
          font-size: 16px;
          top: -6px;
          left: -6px;
          animation: ripple_rp .4s ease-out;
        }
      }
    }
  }
}

.quiz-hotspot {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

@media (max-width: 1919px ) {
    .app-screen {
        .app-card {
          &--hotspot-drag-and-drop {
             ul.hotspot-origin-container {
               margin-left: 36px;
             }
          }
        }
    }
}

@media (max-width: 500px) {
  .quiz-hotspot ul {
    margin-top: 10px;
    padding: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.quiz-hotspot.drag-and-drop .term-popup {
  display: none;
}

.quiz-hotspot.mouseover {
  .right-positions {
    visibility: hidden;
  }
}

.glow {  
  animation: glow 1.75s 1;
}
.glow-infinite {  
  animation: glow_large 1.75s infinite;
}

.static-glow {
  box-shadow: 0 0 0 15px rgba(0, 185, 242, 0.4);
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 185, 242, 0.6);
    }
    80% {
        box-shadow: 0 0 0 10px rgba(0, 185, 242, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 185, 242, 0);
    }
}

@keyframes glow_large {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 185, 242, 0.6);
    }
    80% {
        box-shadow: 0 0 0 20px rgba(0, 185, 242, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 185, 242, 0);
    }
}
