// #svgmap {
//   width: 1680px;
//   height: 1080px;
// }

// .svg-pan-zoom_viewport {
//     transition: transform 0.5s ease;
// }

// .view {
//   background: transparent;
// }


// #zoom-in {
//   bottom: 20%;
//   left: 20%;
// }

#map-container {
    z-index: 0;
    position: relative;
    height: 100vh;  
    touch-action: none;
    #map {  
        z-index: 0;
        touch-action: none;
    }
    &.overlay {
        width: 100vw;
        > * {
            pointer-events: none;
        }
    }
}


.map-controls {
    button {
        cursor: pointer;
        > * {
            pointer-events: none;
        }
    }
}

.map-static {
    visibility: hidden;
    opacity: 0;
    &.visible {   
        visibility: visible;
        opacity: 1; 
    }
}

@media screen and (max-width: 1200px) {
    #map-container {
        background-image: url('/static/media/ncwr-map-1245x700.jpg');
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}