.app-screen {
    position: absolute;
    display: grid;
    grid-template-rows: 7% 10% 83%;
    padding: 0;
    top: 0;
    right: 0;
    width: 85%;
    height: 100vh;
    background: #fff;
    border-radius: 0;
    overflow: hidden;
    transform: translate3d(100%, 0, 0) rotate(0.001deg); 
    transition: transform 1s cubic-bezier(.55,.085,0,.99); //when page-open class is removed fire this transition
    will-change: transform;
    z-index: 3;
    &.open {
        transform: translate3d(0, 0, 0) rotate(0.001deg); 
        transition: transform 1s cubic-bezier(.55,.085,0,.99);
        will-change: transform;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2); //only apply box shadow when open
        opacity: 1; 
    }
    .close {
        position: absolute;
        display: block;
        top: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
        > * {
            pointer-events: none;
        }
    }
    &__header {
        margin-top: 1%;
        margin-left: 8%;
        display: flex;
        align-items: center;
        h2 {
            margin: 0;
            @include condensed_bold; 
            font-size: 36px; 
            line-height: 1.1;
            text-transform: uppercase;
            color: $dark;
        }
    }
    &__nav {
        margin-top: 0;
        box-shadow: inset 0 -8px 6px -6px rgba(239, 239, 239, 1);
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        z-index: 2;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            list-style: none; 
            margin: 0 8%;
            li {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                // margin-right: 30px; 
                // width: 70px;
                //height: 80px;
                margin-bottom: 20px;
                > * {
                    pointer-events: none;
                }
                &:last-child {
                    margin-right: 0;
                }
                // &.active,
                // &.visited, 
                // &:first-child,
                // &:hover {
                //     opacity: 1;
                // }
                &.active {
                    svg {
                        .blue {
                            fill: $blue;
                        }
                    }
                }
                &:hover {
                    cursor: pointer;
                }
                svg {
                    width: auto;
                    height: 5vh;
                    height: 5vmin;
                }
            }         
        }
     }
    &__cards {
        position: relative;
        padding-top: 1.5%;
        width: 100%;
        z-index: 2;
    }
    .app-card {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        width: 750px;
        width: 100%;
        height: 100%; 
        background-color: white;
        p, li {
            @include rem-fallback(margin-bottom, 22);
            // @include rem-fallback(font-size, 22);
            // line-height: 1.4;
            color: $text;
            &:last-child {
                margin-bottom: 0;
            }
        }
        p img {
            max-width: 100%;
            height: auto;
        }
        .alignright, 
        .alignleft {
            @include rem-fallback(margin-bottom, 20);
            max-width: 430px;
            height: auto;
        }
        .alignright {
            float: right;
            @include rem-fallback(margin-left, 20);
        }
        .alignleft {
            float: left;
            @include rem-fallback(margin-right, 30);
            margin-top: 7px;
        }
        &--intro {
            width: 1080px;
            .inner-scroll {
                .container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 80px;
                    padding-top: 3%;
                    padding-bottom: 3%;
                    max-width: 100%!important;
                }
                h3 {
                    text-transform: uppercase;
                    @include rem-fallback(font-size, 30);
                }
                .activity {
                    &--summary p {
                        @include rem-fallback(font-size, 28);
                    }
                    &--properties {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 60px;
                        &__property {
                            padding: 15px 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            align-items: center;
                            margin-bottom: 0;
                            .icon {
                                font-size: 13px;
                            }
                            span {
                                @include condensed_bold;
                                text-transform: uppercase;
                                font-size: 26px;
                                color: #666;
                            }
                        }
                    }
                    &--objectives ul {
                        list-style: outside;
                        margin-left: 40px;
                        margin-top: 20px;
                        li {
                            margin-bottom: 5px;
                        }
                    }
                    &--assets {
                        @include rem-fallback(font-size, 22);
                        line-height: 1.4;
                    }
                }
            }
        }
        &--multiple-choice,
        &--multiple-choice-multiple {
            width: 700px;
        }
        &--likert_grid {
            .scroll-container {
                .inner-scroll {
                    .container {
                        max-width: 960px;
                    }
                }
            }
        }
        &--quiz {
            hr {
                margin-top: 50px;
                margin-bottom: 50px;
                height: 1px;
                border: 0;
                border-top: 1px solid $grey_light;
                &:last-child {
                    display: none;
                }
            }
        }
    }
    //hide scroll bar
    .scroll-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .inner-scroll {
            overflow: auto;
            width: 100%;
            height: 100%;
            box-sizing: content-box;
            padding-right: 30px;
            padding-top: 45px;
            .container {
                max-width: 750px;
                margin-left: auto;
                margin-right: auto;
            }
            h2 {
                @include rem_fallback(font-size, 30);
                margin-top:0;
            }
            ul {
                list-style-type: disc;
                @include rem_fallback(margin-left, 40);
                @include rem_fallback(margin-bottom, 40);
            }
            > *:last-child {
                margin-bottom: 100px;
            }
        }
    }
    &--info {
        .scroll-container .inner-scroll {
            h2 {
                margin-bottom: 0;
                @include sans-bold;
                @include rem_fallback(font-size, 40);
                text-transform: none;
            }
            .app-icons--info {
                p {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }
            
        }
        .app-screen {
            &__nav {
                align-items: center;
                ul {
                    justify-content: space-around;
                    max-width: 793px;
                    margin: 0 auto;
                }
                li {
                    width: auto;
                    height: auto;
                    @include condensed_bold;
                    @include rem_fallback(font-size, 34);
                    color: lighten($blue, 40%);
                    text-transform: uppercase;  
                    &.active {
                        color: $blue;  
                    }
                }
            }
            &__cards {
                article {
                    @include rem_fallback(margin-top, 25);
                }
            }
        }
    }
    .card-theme-icon {
        position: fixed;
        bottom: 0;
        right: 20px;
        font-size: 8px;
        z-index: 1;
    }
}

@media screen and (max-width: 1199px) {
    .app-screen {
        &__header {
            margin-left: 3%;
            margin-right: 15%;
            flex-wrap: wrap;
        }
        &__nav {
            ul {
                margin: 0 3%;
                li {
                    margin-bottom: 10px;
                    svg {
                        width: auto;
                        height: 5vh;
                        height: 5vmin;
                    }
                }
            }
        }
        &__cards {
            width: 100vw;
        }
        .app-card {
            left: 0;
            transform: translateX(0);
            .inner-scroll {
                .container {
                    margin: 0 10%;
                }
            }
           &--intro {
                width: 100%;
                .inner-scroll {
                    .container {
                        display: flex;
                        flex-direction: column;
                        padding: 3% 0 3% 0;
                        max-width: 100%!important;
                        .col {
                            margin-bottom: 20px;
                        }
                    }
                }
           } 
        }
    }
}

//IE 11
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .app-screen {
        .app-card {
            &--intro {
                .inner-scroll {
                    .container {
                        display: -ms-grid;
                        -ms-grid-columns: 1fr 1fr;
                        .col {
                            margin-right: 80px;
                        }
                        //IE doesn't do auto-placement - need to explicitly tell it where to place items on grid
                        .col:first-of-type{
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -ms-grid-column-span: 1;
                        }
                        .col:last-of-type{
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -ms-grid-column-span: 1;
                        }
                    }
                }
            }
        }
    }
}

@supports not (display: grid) {

}

@media (max-width: 1919px ) {
    .app-screen {
        width: 85%;
    }
}

@media (max-width: 1679px ) {
    .app-screen {
        width: 90%;
    }
}

@media (max-width: 1300px ) {
    .app-screen {
        width: 95%;
    }
}

@media (max-width: 1199px ) {
    .app-screen {
        width: 100%;
    }
}