button.glossary-term {
  position: relative;
  display: inline;
  // background: url('../graphics/glossary-underline.svg') bottom no-repeat;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: $blue;
  padding-bottom: 5px;
  @include sans_light;
  @include rem-fallback(font-size, 22);
  cursor: pointer;
  &.current {
    z-index: 2;
  }
}

.term-popup-container {
    display: inline;
    position: relative;
}

.glossary-popup,
.term-popup {
    width: 0; //needs a width set at the beginning otherwise height goes wonky
    height: 0;
    position: absolute;
    background-color: $blue;
    color: white;
    z-index: -1;
    top: 5%;
    cursor: default;
    @include rem-fallback(font-size, 14);
    line-height: 1.3;
    overflow: hidden;
    text-align: left;
    &.open {
        position: absolute;
        width: 460px;
        height: auto;
        @include rem-fallback(padding-top, 20);
        @include rem-fallback(padding-bottom, 20);
        @include rem-fallback(padding-left, 20);
        @include rem-fallback(padding-right, 34);
        margin-top: 38px;
        animation: slide_in_fwd_center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both;
        z-index: 2;
        cursor: default;
   
    > * {
        color: white!important;
    }
    h4 {
        margin-top: 0;
        @include sans_medium;
        @include rem-fallback(font-size, 21);
        line-height: 1.1;
        @include rem-fallback(margin-bottom, 20);
    }
    p { 
      @include rem-fallback(font-size, 19);
      line-height: 1.5;
      &:last-child {
          margin-bottom: 0;
      }
    }
    a {
      color: $white;
    }
    .close-popup {
      position: absolute;
      top: 10px!important;
      right: 10px!important;
      cursor: pointer;
    }
  }

}


/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide_in_fwd_center {
  0% {

  }
  100% {
    transform: translate(0, -5%) rotate(0.001deg);
    //opacity: 1;
  }
}