//slider navigation
.page-nav {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    z-index: 2;
    color: $dark;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
    span {
        line-height: 21px;
        font-family: 'cf_asty_stdbold';
        letter-spacing: 1px;
    }
    i {
        font-size: 10px;
    }
    &.disabled {
        cursor: default;
        pointer-events: none;
        &:focus {
            outline: none;
        }
        span {
            color: $gray_light;
        }
        i {
            &:before {
                opacity: 0.1;
            }
        }
    }
    
    &.prev {
        left: -1px;
        i {
            margin-right: 6px;
            &:before {
                fill: $dark;
            }
        }
    }
    &.next {
        right: -1px;
        i {
            transform: rotate(180deg);
            margin-left: 6px;
            &:before {
                fill: $dark;
            }
        }
    }
    
}

//slides
.slide {
    opacity: 0;
    z-index: -1;
    &.current {
        z-index: 1; //before adding the z-index via javascript 
        opacity: 1;
        label {
            opacity: 1;
        }
    }
    &.prev-slide {
    }
}