/* Table */
td, th {
    text-align: left;
    padding: 0.8em 1.2em 0.8em 0.8em;
}

table {
    font-size: 16px;
    border-collapse: collapse;
    padding-bottom: 1.6em;
    width: 100%;
    @include sans_regular;
    caption {
        padding: 0.8em;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        will-change: transform; /*Safari bug: caption jumps when sorting table*/
    }
    &.likert {
        &--grid {
            tbody {
                td {
                    min-width: 115px;
                }
            }
        }
    }
}

tr:nth-child(odd) td {
    background-color: transparent;  
}

tr {
    border-bottom: 1px solid lightgray;
}

thead { 
    tr {
        border-bottom: none;
    }
    th {
        font-weight: normal;
        text-align: center;
        @include sans_bold;
        &:hover {
            cursor: pointer;
        }
    }
}

tbody th {
    font-weight: normal;
}


@media (max-width: 545px) {
    table {
        font-size: 14px;
    }
   	table, thead, tbody, th, td, tr, caption { 
		display: block; 
    }
    thead {
        margin-top: 1em;
        margin-bottom: 1em;
        display: grid;
        tr:before {
            content: "Sort by: ";
            margin-bottom: 0.5em;
            margin-right: 1em;
            grid-column: 1/4;
            font-weight: 700;
        }
    }
    thead th {
        display: inline;
        padding: 0.8em 0;
        margin-right: 0.8em;
        font-weight: normal;
    }
	tbody tr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1em;
    }
    tbody th[data-title="Name"] {
        grid-column: 1/4;
        padding-left: 0;
    }
    tbody th[data-title="Posts"],
    tbody th[data-title="Comments/Post"] {
        grid-column: 1/2;
    }
    tr td {
        background-color: transparent;
        border-bottom: 1px solid #d3d3d3;  
    }
    td:nth-of-type(1):before { content: "Posts: "; font-weight: bold; }
    td:nth-of-type(2):before { content: "Comments: "; font-weight: bold; }
}

@media (max-width: 414px) {
    thead {
        margin-top: 1em;
        margin-bottom: 1em;
        display: grid;
        &:before {
            content: "Sort by: ";
            margin-bottom: 0.8em;
            margin-right: 0;
            grid-column: 1/4;
            font-weight: 700;
        }
        tr:before {
            content: '';
            margin: 0;
            padding: 0;
            position: absolute;
        }
    }
}

@media (max-width: 350px) {
    thead th {
        margin-right: 0.4em;
    }
}

thead .arrow-down:before {
    margin-top: -3px;
    margin-left: 0.4em;
}