.map-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    padding: 10px 20px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    &.visible {
        opacity: 1;
        visibility: visible;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
        transition: opacity 0.3s;
    }
    h2 {
        font-size: 16px;
        font-family: $regular;
        font-weight: normal;
        text-transform: unset;
        line-height: 1.2;
        color: white;
        margin: 0;
        padding: 0;
    }
}

.map-popup {
    position: fixed;
    max-width: 350px;
    padding: 20px;
    background-color: $blue;
    font-family: $regular;
    text-align: left;
    color: white;
    will-change: transform;
    opacity: 0;
    z-index: -1;
    transform: translate3d(0,6px,0) rotate(0.001deg);
    transition: transform .1s ease-in-out;
    h2 {
        margin-top: 10px;
        color: white;
        @include sans_medium;
        @include rem-fallback(font-size, 32);
    }
    p {
        line-height: 1.4;
    }
    .open-page {
        display: inline-block;
        padding: 8px 25px;
        border-radius: 5px;
        background-color: white;
        margin-top: 30px;
        color: $blue;
    }
    .close-popup-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 20px;
        height: 20px;
        > * {
            pointer-events: none;
        }
    }
    &.visible {
        opacity: 1;
        z-index: 1;
        right: 13%;
        top: 35%;
        transform: translate3d(0, -8%, -35%) rotate(0.001deg);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
    }
}