<!DOCTYPE html>
<html lang="en" class="js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sample App">
    <meta name="apple-mobile-web-app-title" content="Sample App">
    <meta name="theme-color" content="#00B9F2">
    <meta name="msapplication-navbutton-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="NCWR - Non Conventional Water Resources<" />
    <meta name="msapplication-TileColor" content="#00B9F2" />
    <meta name="msapplication-TileImage" content="/static/mstile-144x144.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="A sample test app with users, posts and comments">
    <title>NCWR - Non Conventional Water Resources</title>
    <!-- <link rel="preload" href="/static/fonts/open-sans-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/static/fonts/open-sans-v15-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->
    <link href="/static/global.css" rel="stylesheet">
</head>
<body>
    {% block preloader %}{% endblock %}
    <div id="app">
        {% block index %}{% endblock %}
        {% block posts %}{% endblock %}
        {% block post %}{% endblock %}
    </div>
<script type="text/javascript" src="/static/polyfills.bundle.js"></script>
<script type="text/javascript" src="/static/app.bundle.js"></script>
</body>
</html>




