<!-- post.nunjucks -->
{% extends "layout.njk" %}
{% block preloader %}
<div id="preloader">
    <h2 class="visually-hidden">
        <span class="welcome no-opacity">NCWR
            <span class="to-waterpolis no-opacity"></span>
    </h2>
    <svg version="1.1" id="preloader-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="220px" height="140px" viewBox="0 0 220 140" enable-background="new 0 0 220 140"
        xml:space="preserve">
        <polygon fill="#0090D7"
            points="1.771,93.601 9.073,116.963 1.771,136.561 219.553,136.561 210.912,116.963 219.553,93.601 " />
        <path fill="#FFFFFF" d="M22.608,108.934c-0.105-1.5-0.143-3.182-0.143-4.683v-3.978h1.503v12.523h-1.575l-2.109-8.637
        	c0.084,1.465,0.136,3.111,0.136,4.688v3.949h-1.501v-12.523h1.595L22.608,108.934z" />
        <path fill="#FFFFFF" d="M25.485,110.742v-8.393c0-1.287,0.518-2.258,2.325-2.258c1.812,0,2.313,0.971,2.313,2.258v8.393
        	c0,1.281-0.501,2.238-2.313,2.238C26.002,112.98,25.485,112.023,25.485,110.742" />
        <path fill="#0090D7" d="M28.46,110.725v-8.375c0-0.432-0.162-0.751-0.65-0.751c-0.481,0-0.661,0.319-0.661,0.751v8.375
        	c0,0.461,0.18,0.775,0.661,0.775C28.298,111.5,28.46,111.186,28.46,110.725" />
        <path fill="#FFFFFF" d="M35.327,108.934c-0.103-1.5-0.14-3.182-0.14-4.683v-3.978h1.502v12.523h-1.574L33,104.16
        	c0.091,1.465,0.143,3.111,0.143,4.688v3.949h-1.503v-12.523h1.594L35.327,108.934z" />
        <path fill="#FFFFFF" d="M44.494,109.047h1.628v1.695c0,1.281-0.52,2.238-2.273,2.238c-1.806,0-2.321-0.957-2.321-2.238v-8.393
        	c0-1.31,0.516-2.258,2.321-2.258c1.754,0,2.273,0.948,2.273,2.258v1.507h-1.628v-1.507c0-0.432-0.159-0.751-0.646-0.751
        	s-0.661,0.319-0.661,0.751v8.375c0,0.461,0.174,0.775,0.661,0.775s0.646-0.314,0.646-0.775V109.047z" />
        <path fill="#FFFFFF" d="M47.504,110.742v-8.393c0-1.287,0.524-2.258,2.328-2.258c1.811,0,2.306,0.971,2.306,2.258v8.393
        	c0,1.281-0.495,2.238-2.306,2.238C48.028,112.98,47.504,112.023,47.504,110.742" />
        <path fill="#0090D7" d="M50.479,110.725v-8.375c0-0.432-0.162-0.751-0.647-0.751c-0.48,0-0.663,0.319-0.663,0.751v8.375
        	c0,0.461,0.182,0.775,0.663,0.775C50.317,111.5,50.479,111.186,50.479,110.725" />
        <path fill="#FFFFFF" d="M57.348,108.934c-0.107-1.5-0.144-3.182-0.144-4.683v-3.978h1.503v12.523h-1.573l-2.117-8.637
        	c0.091,1.465,0.147,3.111,0.147,4.688v3.949h-1.502v-12.523h1.59L57.348,108.934z" />
        <path fill="#FFFFFF" d="M63.586,112.797h-1.983c-0.534-4.164-1.081-8.352-1.589-12.523h1.702l0.479,5.167
        	c0.125,1.595,0.265,3.171,0.409,4.765c0.122-1.594,0.269-3.17,0.416-4.765l0.461-5.167h1.72L63.586,112.797z" />
        <polygon fill="#FFFFFF" points="68.17,111.223 70.315,111.223 70.315,112.797 66.5,112.797 66.5,100.273 70.315,100.273 
        	70.315,101.863 68.17,101.863 68.17,105.695 70.027,105.695 70.027,107.234 68.17,107.234 " />
        <path fill="#FFFFFF" d="M75.461,108.934c-0.109-1.5-0.146-3.182-0.146-4.683v-3.978h1.503v12.523h-1.573l-2.109-8.637
        	c0.088,1.465,0.14,3.111,0.14,4.688v3.949h-1.502v-12.523h1.591L75.461,108.934z" />
        <polygon fill="#FFFFFF" points="81.181,112.797 79.517,112.797 79.517,101.863 78.122,101.863 78.122,100.273 82.597,100.273 
        	82.597,101.863 81.181,101.863 " />
        <rect x="83.888" y="100.273" fill="#FFFFFF" width="1.663" height="12.523" />
        <path fill="#FFFFFF" d="M87.062,110.742v-8.393c0-1.287,0.519-2.258,2.326-2.258c1.803,0,2.304,0.971,2.304,2.258v8.393
        	c0,1.281-0.501,2.238-2.304,2.238C87.581,112.98,87.062,112.023,87.062,110.742" />
        <path fill="#0090D7" d="M90.029,110.725v-8.375c0-0.432-0.161-0.751-0.642-0.751s-0.662,0.319-0.662,0.751v8.375
        	c0,0.461,0.181,0.775,0.662,0.775S90.029,111.186,90.029,110.725" />
        <path fill="#FFFFFF" d="M96.898,108.934c-0.103-1.5-0.136-3.182-0.136-4.683v-3.978h1.501v12.523h-1.575l-2.117-8.637
        	c0.093,1.465,0.144,3.111,0.144,4.688v3.949h-1.498v-12.523h1.587L96.898,108.934z" />
        <polygon fill="#FFFFFF" points="104.792,112.797 103.107,112.797 102.874,110.227 101.476,110.227 101.246,112.797 99.563,112.797 
        	101.125,100.273 103.231,100.273 " />
        <path fill="#0090D7" d="M101.639,108.686h1.073c-0.214-2.095-0.393-4.314-0.534-6.373
        	C102.014,104.406,101.781,106.591,101.639,108.686" />
        <polygon fill="#FFFFFF" points="106.092,100.273 107.753,100.273 107.753,111.223 109.473,111.223 109.473,112.797 106.092,112.797 
        	" />
        <path fill="#FFFFFF" d="M117.797,103.371l-0.97,9.426h-2.003c-0.466-4.164-0.928-8.352-1.41-12.523h1.676l0.753,9.607l1.077-9.607
        	h1.753l1.073,9.607l0.75-9.607h1.684l-1.396,12.523h-2.023L117.797,103.371z" />
        <polygon fill="#FFFFFF" points="127.791,112.797 126.105,112.797 125.877,110.227 124.477,110.227 124.244,112.797 122.563,112.797 
        	124.122,100.273 126.232,100.273 " />
        <path fill="#0090D7" d="M124.639,108.686h1.074c-0.216-2.095-0.391-4.314-0.535-6.373
        	C125.016,104.406,124.782,106.591,124.639,108.686" />
        <polygon fill="#FFFFFF" points="131.145,112.797 129.482,112.797 129.482,101.863 128.089,101.863 128.089,100.273 132.563,100.273 
        	132.563,101.863 131.145,101.863 " />
        <polygon fill="#FFFFFF" points="135.516,111.223 137.666,111.223 137.666,112.797 133.854,112.797 133.854,100.273 137.666,100.273 
        	137.666,101.863 135.516,101.863 135.516,105.695 137.375,105.695 137.375,107.234 135.516,107.234 " />
        <path fill="#FFFFFF"
            d="M139.125,100.273h2.505c1.717,0,2.108,0.861,2.108,2.146v2.99c0,1.057-0.229,1.753-1.141,2.022
        	c0.604,1.787,1.199,3.577,1.787,5.364h-1.813c-0.498-1.748-1.033-3.525-1.535-5.293h-0.252v5.293h-1.66V100.273z" />
        <path fill="#0090D7" d="M141.502,105.986c0.455,0,0.589-0.219,0.589-0.632v-2.862c0-0.426-0.157-0.629-0.606-0.629h-0.699v4.123
        	H141.502z" />
        <path fill="#FFFFFF"
            d="M148.592,100.273h2.502c1.721,0,2.117,0.861,2.117,2.146v2.99c0,1.057-0.234,1.753-1.146,2.022
        	c0.604,1.787,1.198,3.577,1.786,5.364h-1.804c-0.502-1.748-1.039-3.525-1.535-5.293h-0.258v5.293h-1.662V100.273z" />
        <path fill="#0090D7" d="M150.967,105.986c0.457,0,0.593-0.219,0.593-0.632v-2.862c0-0.426-0.159-0.629-0.608-0.629h-0.697v4.123
        	H150.967z" />
        <polygon fill="#FFFFFF" points="156.73,111.223 158.879,111.223 158.879,112.797 155.071,112.797 155.071,100.273 158.879,100.273 
        	158.879,101.863 156.73,101.863 156.73,105.695 158.593,105.695 158.593,107.234 156.73,107.234 " />
        <path fill="#FFFFFF" d="M163.168,109.345c0-3.45-2.957-2.146-2.957-5.919v-1.094c0-1.293,0.559-2.24,2.313-2.24
        	c1.756,0,2.309,0.947,2.309,2.24v1.523h-1.664v-1.523c0-0.434-0.141-0.734-0.645-0.734c-0.484,0-0.641,0.301-0.641,0.734v1.039
        	c0,2.973,2.949,1.644,2.949,5.94v1.448c0,1.291-0.553,2.221-2.309,2.221c-1.754,0-2.313-0.93-2.313-2.221v-1.713h1.672v1.695
        	c0,0.426,0.156,0.759,0.641,0.759c0.504,0,0.645-0.333,0.645-0.759V109.345z" />
        <path fill="#FFFFFF" d="M166.217,110.742v-8.393c0-1.287,0.52-2.258,2.325-2.258c1.808,0,2.312,0.971,2.312,2.258v8.393
        	c0,1.281-0.504,2.238-2.312,2.238C166.736,112.98,166.217,112.023,166.217,110.742" />
        <path fill="#0090D7" d="M169.189,110.725v-8.375c0-0.432-0.158-0.751-0.647-0.751c-0.48,0-0.659,0.319-0.659,0.751v8.375
        	c0,0.461,0.179,0.775,0.659,0.775C169.031,111.5,169.189,111.186,169.189,110.725" />
        <path fill="#FFFFFF" d="M173.99,110.742c0,0.465,0.184,0.759,0.663,0.759c0.484,0,0.651-0.294,0.651-0.759v-10.469h1.663v10.486
        	c0,1.254-0.573,2.221-2.314,2.221c-1.805,0-2.325-0.93-2.325-2.221v-10.486h1.662V110.742z" />
        <path fill="#FFFFFF" d="M178.535,100.273h2.504c1.717,0,2.113,0.861,2.113,2.146v2.99c0,1.057-0.234,1.753-1.146,2.022
        	c0.611,1.787,1.2,3.577,1.787,5.364h-1.801c-0.503-1.748-1.039-3.525-1.54-5.293h-0.255v5.293h-1.662V100.273z" />
        <path fill="#0090D7" d="M180.911,105.986c0.453,0,0.591-0.219,0.591-0.632v-2.862c0-0.426-0.158-0.629-0.604-0.629h-0.701v4.123
        	H180.911z" />
        <path fill="#FFFFFF" d="M187.703,109.047h1.628v1.695c0,1.281-0.521,2.238-2.278,2.238c-1.804,0-2.326-0.957-2.326-2.238v-8.393
        	c0-1.31,0.522-2.258,2.326-2.258c1.758,0,2.278,0.948,2.278,2.258v1.507h-1.628v-1.507c0-0.432-0.167-0.751-0.65-0.751
        	c-0.48,0-0.66,0.319-0.66,0.751v8.375c0,0.461,0.18,0.775,0.66,0.775c0.483,0,0.65-0.314,0.65-0.775V109.047z" />
        <polygon fill="#FFFFFF" points="192.462,111.223 194.61,111.223 194.61,112.797 190.799,112.797 190.799,100.273 194.61,100.273 
        	194.61,101.863 192.462,101.863 192.462,105.695 194.328,105.695 194.328,107.234 192.462,107.234 " />
        <path fill="#FFFFFF" d="M198.9,109.345c0-3.45-2.959-2.146-2.959-5.919v-1.094c0-1.293,0.559-2.24,2.313-2.24
        	s2.311,0.947,2.311,2.24v1.523H198.9v-1.523c0-0.434-0.148-0.734-0.646-0.734c-0.484,0-0.645,0.301-0.645,0.734v1.039
        	c0,2.973,2.955,1.644,2.955,5.94v1.448c0,1.291-0.557,2.221-2.311,2.221s-2.313-0.93-2.313-2.221v-1.713h1.668v1.695
        	c0,0.426,0.16,0.759,0.645,0.759c0.498,0,0.646-0.333,0.646-0.759V109.345z" />
        <rect x="18.91" y="125.121" fill="#FFFFFF" width="3.045" height="0.645" />
        <path fill="#FFFFFF" d="M27.145,117.934h1.802c1.723,0,2.155,0.875,2.155,2.166v2.771c0,1.256-0.541,2.131-2.188,2.131h-0.912v5.457
        	h-0.857V117.934z" />
        <path fill="#0090D7" d="M28.002,124.213h0.896c1.057,0,1.337-0.518,1.337-1.342V120.1c0-0.828-0.263-1.35-1.321-1.35h-0.912V124.213
        	z" />
        <path fill="#FFFFFF" d="M32.826,117.934h1.836c1.712,0,2.125,0.875,2.125,2.166v2.771c0,1.07-0.445,1.896-1.541,2.094l2.097,5.494
        	h-0.951c-0.639-1.813-1.322-3.637-1.964-5.457h-0.739v5.457h-0.863V117.934z" />
        <path fill="#0090D7" d="M33.689,124.213h0.901c1.049,0,1.339-0.518,1.339-1.342V120.1c0-0.828-0.271-1.35-1.324-1.35h-0.917V124.213
        	z" />
        <path fill="#FFFFFF" d="M42.668,119.932v8.521c0,1.285-0.448,2.188-2.02,2.188c-1.579,0-2.026-0.902-2.026-2.188v-8.521
        	c0-1.283,0.448-2.18,2.026-2.18C42.22,117.752,42.668,118.648,42.668,119.932" />
        <path fill="#0090D7" d="M41.807,128.452v-8.521c0-0.82-0.243-1.416-1.159-1.416c-0.911,0-1.167,0.596-1.167,1.416v8.521
        	c0,0.823,0.256,1.413,1.167,1.413C41.564,129.865,41.807,129.275,41.807,128.452" />
        <path fill="#FFFFFF" d="M47.667,124.531h-1.164v-0.783h2.021v4.723c0,1.292-0.444,2.168-2.021,2.168
        	c-1.578,0-2.022-0.876-2.022-2.168v-8.553c0-1.289,0.444-2.166,2.022-2.166c1.541,0,2.001,0.877,2.001,2.166v1.414h-0.837v-1.414
        	c0-0.806-0.306-1.402-1.164-1.402c-0.917,0-1.163,0.582-1.163,1.402v8.553c0,0.804,0.264,1.395,1.163,1.395
        	c0.894,0,1.164-0.553,1.164-1.395V124.531z" />
        <path fill="#FFFFFF" d="M50.387,117.934h1.824c1.72,0,2.129,0.875,2.129,2.166v2.771c0,1.07-0.444,1.896-1.538,2.094l2.091,5.494
        	h-0.948c-0.642-1.813-1.322-3.637-1.968-5.457h-0.735v5.457h-0.855V117.934z" />
        <path fill="#0090D7" d="M51.242,124.213h0.896c1.059,0,1.345-0.518,1.345-1.342V120.1c0-0.828-0.27-1.35-1.323-1.35h-0.917V124.213z
        	" />
        <polygon fill="#FFFFFF" points="60.781,130.459 59.886,130.459 59.489,127.445 57.432,127.445 57.035,130.459 56.16,130.459 
        	57.952,117.934 58.992,117.934 " />
        <polygon fill="#0090D7" points="57.523,126.66 59.398,126.66 58.472,119.307 " />
        <path fill="#FFFFFF" d="M65.508,128.902l1.875-10.969h1.188v12.525h-0.826v-4.458c0-1.771,0.087-5.048,0.12-6.679l-1.95,11.137
        	h-0.841l-1.945-11.137c0.033,1.666,0.123,4.927,0.123,6.679v4.458h-0.825v-12.525h1.182l1.884,10.969H65.508z" />
        <path fill="#FFFFFF" d="M73.597,128.902l1.882-10.969h1.18v12.525h-0.824v-4.458c0-1.771,0.089-5.048,0.125-6.679l-1.949,11.137
        	h-0.846l-1.95-11.137c0.039,1.666,0.13,4.927,0.13,6.679v4.458h-0.824v-12.525h1.175l1.886,10.969H73.597z" />
        <polygon fill="#FFFFFF" points="79.476,129.635 82.05,129.635 82.05,130.459 78.614,130.459 78.614,117.934 82.05,117.934 
        	82.05,118.75 79.476,118.75 79.476,123.748 81.692,123.748 81.692,124.531 79.476,124.531 " />
        <rect x="87.188" y="117.934" fill="#FFFFFF" width="0.86" height="12.525" />
        <path fill="#FFFFFF" d="M90.814,126.629v3.83h-0.84v-12.525h0.917l2.896,10.537c-0.033-2.182-0.104-4.514-0.104-6.691v-3.846h0.838
        	v12.525h-0.913l-2.896-10.527C90.744,122.103,90.814,124.409,90.814,126.629" />
        <polygon fill="#FFFFFF" points="101.701,130.459 100.844,130.459 100.844,118.75 99.304,118.75 99.304,117.934 103.238,117.934 
        	103.238,118.75 101.701,118.75 " />
        <polygon fill="#FFFFFF" points="105.693,130.459 104.837,130.459 104.837,117.934 105.693,117.934 105.693,123.746 108.06,123.746 
        	108.06,117.934 108.912,117.934 108.912,130.459 108.06,130.459 108.06,124.531 105.693,124.531 " />
        <polygon fill="#FFFFFF" points="111.729,129.635 114.307,129.635 114.307,130.459 110.868,130.459 110.868,117.934 114.307,117.934 
        	114.307,118.75 111.729,118.75 111.729,123.748 113.947,123.748 113.947,124.531 111.729,124.531 " />
        <path fill="#FFFFFF" d="M122.521,128.902l1.878-10.969h1.182v12.525h-0.822v-4.458c0-1.771,0.09-5.048,0.123-6.679l-1.947,11.137
        	h-0.84l-1.955-11.137c0.041,1.666,0.128,4.927,0.128,6.679v4.458h-0.823v-12.525h1.184l1.875,10.969H122.521z" />
        <polygon fill="#FFFFFF" points="128.395,129.635 130.969,129.635 130.969,130.459 127.533,130.459 127.533,117.934 130.969,117.934 
        	130.969,118.75 128.395,118.75 128.395,123.748 130.616,123.748 130.616,124.531 128.395,124.531 " />
        <path fill="#FFFFFF" d="M132.715,117.934h1.88c1.713,0,2.181,0.875,2.181,2.166v8.189c0,1.293-0.429,2.17-2.144,2.17h-1.917V117.934
        	z" />
        <path fill="#0090D7" d="M133.574,129.635h1.021c1.054,0,1.321-0.52,1.321-1.346V120.1c0-0.828-0.286-1.35-1.34-1.35h-1.002V129.635z
        	" />
        <rect x="138.678" y="117.934" fill="#FFFFFF" width="0.863" height="12.525" />
        <polygon fill="#FFFFFF" points="143.523,130.459 142.672,130.459 142.672,118.75 141.123,118.75 141.123,117.934 145.063,117.934 
        	145.063,118.75 143.523,118.75 " />
        <polygon fill="#FFFFFF" points="147.52,129.635 150.096,129.635 150.096,130.459 146.66,130.459 146.66,117.934 150.096,117.934 
        	150.096,118.75 147.52,118.75 147.52,123.748 149.738,123.748 149.738,124.531 147.52,124.531 " />
        <path fill="#FFFFFF" d="M151.838,117.934h1.822c1.713,0,2.131,0.875,2.131,2.166v2.771c0,1.07-0.443,1.896-1.541,2.094l2.094,5.494
        	h-0.947c-0.641-1.813-1.317-3.637-1.969-5.457h-0.731v5.457h-0.858V117.934z" />
        <path fill="#0090D7" d="M152.696,124.213h0.894c1.059,0,1.34-0.518,1.34-1.342V120.1c0-0.828-0.268-1.35-1.319-1.35h-0.914V124.213z
        	" />
        <path fill="#FFFFFF" d="M157.916,117.934h1.819c1.72,0,2.134,0.875,2.134,2.166v2.771c0,1.07-0.445,1.896-1.54,2.094l2.095,5.494
        	h-0.951c-0.645-1.813-1.322-3.637-1.967-5.457h-0.738v5.457h-0.852V117.934z" />
        <path fill="#0090D7" d="M158.768,124.213h0.897c1.058,0,1.343-0.518,1.343-1.342V120.1c0-0.828-0.27-1.35-1.324-1.35h-0.916V124.213
        	z" />
        <polygon fill="#FFFFFF" points="168.309,130.459 167.41,130.459 167.019,127.445 164.957,127.445 164.564,130.459 163.684,130.459 
        	165.477,117.934 166.512,117.934 " />
        <polygon fill="#0090D7" points="165.045,126.66 166.922,126.66 165.996,119.307 " />
        <path fill="#FFFFFF" d="M170.795,126.629v3.83h-0.838v-12.525h0.91l2.896,10.537c-0.035-2.182-0.101-4.514-0.101-6.691v-3.846h0.835
        	v12.525h-0.912l-2.896-10.527C170.723,122.103,170.795,124.409,170.795,126.629" />
        <polygon fill="#FFFFFF" points="177.287,129.635 179.869,129.635 179.869,130.459 176.434,130.459 176.434,117.934 179.869,117.934 
        	179.869,118.75 177.287,118.75 177.287,123.748 179.508,123.748 179.508,124.531 177.287,124.531 " />
        <polygon fill="#FFFFFF" points="185.928,130.459 185.033,130.459 184.641,127.445 182.584,127.445 182.188,130.459 181.311,130.459 
        	183.103,117.934 184.137,117.934 " />
        <polygon fill="#0090D7" points="182.67,126.66 184.554,126.66 183.615,119.307 " />
        <path fill="#FFFFFF" d="M188.419,126.629v3.83h-0.839v-12.525h0.91l2.895,10.537c-0.033-2.182-0.102-4.514-0.102-6.691v-3.846h0.84
        	v12.525h-0.912l-2.901-10.527C188.346,122.103,188.419,124.409,188.419,126.629" />
        <rect x="197.26" y="125.121" fill="#FFFFFF" width="3.044" height="0.645" />
        <path fill="#B0DEF7" d="M87.18,33.25c0,0-6.618,9.014-6.618,13.883c0,3.662,2.962,6.62,6.618,6.62c3.66,0,6.622-2.958,6.622-6.62
        	C93.801,42.265,87.18,33.25,87.18,33.25" />
        <path fill="#FFFFFF" d="M30.191,34.258c0.706,12.824,1.271,26.005,1.271,40.337V86.27H19.564V5.354h12.604l11.319,50.974
        	c-0.81-11.56-1.268-23.695-1.268-36.752V5.354h11.905V86.27H41.868L30.191,34.258z" />
        <path fill="#FFFFFF"
            d="M93.304,60.839v11.792c0,8.438-3.224,14.799-15.483,14.799c-12.251,0-15.722-6.361-15.722-14.799V18.999
        	c0-8.441,3.471-14.8,15.722-14.8c12.259,0,15.483,6.359,15.483,14.8v10.63H81.062v-10.63c0-1.972-1.052-3.588-3.242-3.588
        	c-2.196,0-3.234,1.616-3.234,3.588v53.519c0,2.425,1.038,3.697,3.234,3.697c2.19,0,3.242-1.272,3.242-3.697V60.839H93.304z" />
        <polygon fill="#FFFFFF" points="123.078,86.27 107.935,86.27 99.375,5.354 111.98,5.354 115.684,65.237 121.693,5.354 
        	134.866,5.354 140.883,65.237 144.58,5.354 157.18,5.354 148.74,86.27 133.483,86.27 128.277,27.549 " />
        <path fill="#FFFFFF" d="M189.242,52.058c5.197-1.855,6.368-5.901,6.368-12.83V19.107c0-8.322-2.435-13.753-13.533-13.753h-17.687
        	V86.27h12.486V52.52h0.697l8.785,33.75h13.29L189.242,52.058z M183.35,38.531c0,1.731-0.692,2.541-2.429,2.541h-4.044V17.145h3.81
        	c1.744,0,2.663,0.815,2.663,2.771V38.531z" />
    </svg>

    <canvas id="c"></canvas>
    <script type="text/javascript">
        var c = document.getElementById('c'),
            ctx = c.getContext('2d'),
            cw = c.width = window.innerWidth,
            ch = c.height = window.innerHeight,
            points = [],
            tick = 0,
            opt = {
                count: 5,
                range: {
                    x: 20,
                    y: 80
                },
                duration: {
                    min: 20,
                    max: 40
                },
                thickness: 0,
                strokeColor: '#0090D7',
                level: .35,
                curved: true
            },
            rand = function (min, max) {
                return Math.floor((Math.random() * (max - min + 1)) + min);
            },
            ease = function (t, b, c, d) {
                if ((t /= d / 2) < 1) return c / 2 * t * t + b;
                return -c / 2 * ((--t) * (t - 2) - 1) + b;
            };

        ctx.lineJoin = 'round';
        ctx.lineWidth = opt.thickness;
        ctx.strokeStyle = opt.strokeColor;

        var Point = function (config) {
            this.anchorX = config.x;
            this.anchorY = config.y;
            this.x = config.x;
            this.y = config.y;
            this.setTarget();
        };

        Point.prototype.setTarget = function () {
            this.initialX = this.x;
            this.initialY = this.y;
            this.targetX = this.anchorX + rand(0, opt.range.x * 2) - opt.range.x;
            this.targetY = this.anchorY + rand(0, opt.range.y * 2) - opt.range.y;
            this.tick = 0;
            this.duration = rand(opt.duration.min, opt.duration.max);
        };

        Point.prototype.update = function () {
            var dx = this.targetX - this.x;
            var dy = this.targetY - this.y;
            var dist = Math.sqrt(dx * dx + dy * dy);

            if (Math.abs(dist) <= 0) {
                this.setTarget();
            } else {
                var t = this.tick;
                var b = this.initialY;
                var c = this.targetY - this.initialY;
                var d = this.duration;
                this.y = ease(t, b, c, d);

                b = this.initialX;
                c = this.targetX - this.initialX;
                d = this.duration;
                this.x = ease(t, b, c, d);

                this.tick++;
            }
        };

        Point.prototype.render = function () {
            ctx.beginPath();
            ctx.arc(this.x, this.y, 3, 0, Math.PI * 2, false);
            ctx.fillStyle = '#000';
            ctx.fill();
        };

        var updatePoints = function () {
            var i = points.length;
            while (i--) {
                points[i].update();
            }
        };

        var renderPoints = function () {
            var i = points.length;
            while (i--) {
                points[i].render();
            }
        };

        var renderShape = function () {
            ctx.beginPath();
            var pointCount = points.length;
            ctx.moveTo(points[0].x, points[0].y);
            var i;
            for (i = 0; i < pointCount - 1; i++) {
                var c = (points[i].x + points[i + 1].x) / 2;
                var d = (points[i].y + points[i + 1].y) / 2;
                ctx.quadraticCurveTo(points[i].x, points[i].y, c, d);
            }
            ctx.lineTo(-opt.range.x - opt.thickness, ch + opt.thickness);
            ctx.lineTo(cw + opt.range.x + opt.thickness, ch + opt.thickness);
            ctx.closePath();
            //ctx.fillStyle = 'hsl('+(tick/2)+', 80%, 60%)';
            ctx.fillStyle = 'rgb(0,144,215)';
            ctx.fill();
            ctx.stroke();
        };

        var clear = function () {
            ctx.clearRect(0, 0, cw, ch);
        };

        var loop = function () {
            window.requestAnimFrame(loop, c);
            tick++;
            clear();
            updatePoints();
            renderShape();
            //renderPoints();
        };

        var i = opt.count + 2;
        var spacing = (cw + (opt.range.x * 2)) / (opt.count - 1);
        while (i--) {
            points.push(new Point({
                x: (spacing * (i - 1)) - opt.range.x,
                y: ch - (ch * opt.level)
            }));
        }

        window.requestAnimFrame = function () { return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function (a) { window.setTimeout(a, 1E3 / 60) } }();
        loop();
    </script>
    <noscript>
        <div class="donut">
            <svg width="240" height="240" xmlns="http://www.w3.org/2000/svg" class="donut__svg">
                <circle id="donut-graph-x" class="donut__svg__scrim" r="90" cy="120" cx="120" stroke-width="3"
                    stroke="#fff" fill="none"></circle>
                <circle id="donut-graph" class="donut__svg__circle--one" r="90" cy="120" cx="120" stroke-width="4"
                    stroke="url(#purple)" stroke-linejoin="round" stroke-linecap="round" fill="none"></circle>
                <defs>
                    <linearGradient id="purple" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" stop-color="#00B9F2"></stop>
                        <stop offset="100%" stop-color="#00B9F2"></stop>
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </noscript>
</div>
{% endblock %}
{% block index %}
<header class="app-header app-header--global">
    <h1 class="app-logo"><a href="/"><i class="icon ncwr-logo" alt="NCWR Logo"></i></a></h1>
</header>
<nav class="app-nav">
    <button class="points-nav floating-element floating-element--button top right" id="nav-icon"
        value="Λίστα σημείων στον χάρτη">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="visually-hidden">Map Point list for NCWR</span>
    </button>

    <div class="sidebar-nav">
        <h2 class="sidebar-nav-heading">ACTIVITIES</h2>
        <ul class="sidebar-nav-list">
            {% for post in postList %} {% if post.post_name !== 'info' %}
            <li id="app-screen--{{ post.post_name }}">
                <a href="/post/{{ post.post_name }}">{{ post.post_title }}</a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</nav>
<div id="map-container">
    <object type="image/svg+xml" id="map" aria-label="Non Conventional Water Resources map">
    </object>
</div>
<a href="/post/info" class="info floating-element floating-element--button bottom left" id="info-icon">
    <i class="icon info"></i>
    <i class="icon info-close"></i>
    <span class="visually-hidden">About NCWR</span>
</a>
<div class="map-controls floating-element bottom right">
    <button id="zoom-in" class="floating-element--button">
        <i class="icon zoom-in"></i>
        <span class="visually-hidden">Zoom in</span>
    </button>
    <button id="zoom-out" class="floating-element--button">
        <i class="icon zoom-out"></i>
        <span class="visually-hidden">Zoom out</span>
    </button>
    <button id="reset-zoom" class="floating-element--button">
        <i class="icon reset"></i>
        <span class="visually-hidden">Reset</span>
    </button>
</div>
{% endblock %}
{% block post %}
<main class="app-container overlay overlay-open">
    <div class="loading" aria-hidden="true">
        <div class="loading__container">
            <p>loading</p>
            <div id="loader"></div>
        </div>
    </div>
    <!-- Post -->
    {% for post in post %}
    {% set slider_counter = ( slider_counter | default(0) ) + 1 %}

    {% if post.slug !== 'info' %}
    <section class="app-screen page" data-id="app-screen--{{ post.slug }}">
        <button class="close" type="button" data-target="app-screen--{{ post.slug }}">
            <span class="visually-hidden">Close</span>
            <i class="icon close-page-color"></i></button>
        <header class="app-screen__header">
            <h2>{{ post.acf.card_title }}</h2>
        </header>
        <nav class="app-screen__nav" data-id="page-slider--{{ slider_counter }}">
            <ul>
                {% for card in post.acf.cards %}
                {% set nav_counter = ( nav_counter | default(0) ) + 1 %}
                <li data-target="app-card--{{ nav_counter }}" {% if nav_counter === 1 %} class="active" {% endif %}>
                    {% if card.acf_fc_layout === 'text' %}
                        {% if card.type == 'Water-readings' %}
                        <svg version="1.1" x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                            <polygon class="blue" fill="#B7DDF4" points="10.08,51.364 33.969,61.997 33.969,19.659 10.08,8 " />
                            <polygon class="blue" fill="#B7DDF4" points="59.92,51.364 36.029,62 36.029,19.659 59.92,8 " />
                        </svg>
                        {% elif card.type == 'Group activity' %}
                        <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                            <path class="blue" fill="#B7DDF4" d="M69.627,30.915v-6.8c-0.733-0.082-1.48-0.127-2.242-0.127c-1.611,0-4.572,0-7.844,0
                            c3.493-0.868,5.902-3.812,5.902-7.836c0-4.822-3.455-8.246-8.097-8.246c-4.643,0-8.098,3.424-8.098,8.246
                            c0,4.024,2.409,6.968,5.902,7.836c-3.752,0-7.313,0-9.265,0c-0.081,0-0.181,0-0.269,0c-1.656,0-4.468,0-7.576,0
                            c3.493-0.868,5.902-3.812,5.902-7.836c0-4.822-3.455-8.246-8.097-8.246c-4.643,0-8.098,3.424-8.098,8.246
                            c0,4.024,2.409,6.968,5.902,7.836c-3.752,0-7.313,0-9.265,0c-0.087,0-0.188,0-0.269,0c-1.656,0-4.468,0-7.576,0
                            c3.493-0.868,5.902-3.812,5.902-7.836c0-4.822-3.455-8.246-8.097-8.246c-4.643,0-8.098,3.424-8.098,8.246
                            c0,4.024,2.409,6.968,5.902,7.836c-3.919,0-7.649,0-9.533,0c-0.762,0-1.509,0.045-2.242,0.127v6.8
                            c6.541-0.087,5.916,4.451,5.916,7.773l-2,23.406h5.366l2-12.563l1.844,0.045l1.844-0.045l2,12.563h5.366l-2-23.406
                            c0-2.847-0.445-6.577,3.539-7.535c3.984,0.957,3.539,4.688,3.539,7.535l-2,23.406h5.366l2-12.563L35,49.576l1.845-0.045l2,12.563
                            h5.366l-2-23.406c0-2.847-0.445-6.577,3.539-7.535c3.984,0.957,3.539,4.688,3.539,7.535l-2,23.406h5.366l2-12.563l1.845,0.045
                            l1.845-0.045l2,12.563h5.366l-2-23.406C63.711,35.366,63.086,30.828,69.627,30.915z" />
                        </svg>
                        {% elif card.type == 'Activity' %}
                        <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                            <path class="blue" fill="#B7DDF4" d="M48.127,30.915v-6.8c-0.733-0.082-1.48-0.127-2.242-0.127c-1.611,0-4.572,0-7.844,0
                        	c3.493-0.868,5.902-3.812,5.902-7.836c0-4.822-3.455-8.246-8.097-8.246c-4.643,0-8.098,3.424-8.098,8.246
                        	c0,4.024,2.409,6.968,5.902,7.836c-3.919,0-7.649,0-9.534,0c-0.762,0-1.509,0.045-2.242,0.127v6.8
                        	c6.541-0.087,5.916,4.451,5.916,7.773l-2,23.406h5.366l2-12.563L35,49.576l1.845-0.045l2,12.563h5.366l-2-23.406
                        	C42.211,35.366,41.586,30.828,48.127,30.915z" />
                        </svg>
                        {% elif card.type == 'Stop and wonder' %}
                        <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                            <path class="blue" fill="#B7DDF4" d="M40.742,21.603c0-3.322-2.61-5.087-5.987-5.087c-3.371,0-5.803,1.548-8.309,3.74l-6.599-6.041
                        	c3.878-4.332,9.309-7.32,15.721-7.32c9.282,0,16.584,4.298,16.584,13.22c0,10.664-13.198,11.997-12.23,21.335H29.51
                        	C27.799,30.65,40.742,27.644,40.742,21.603z" />
                            <path class="blue" fill="#B7DDF4" d="M26.963,54.859c0-4.823,3.455-8.106,8.097-8.106c4.642,0,8.098,3.284,8.098,8.106
                        	c0,4.823-3.455,8.246-8.098,8.246C30.418,63.105,26.963,59.682,26.963,54.859z" />
                        </svg>
                        {% elif card.type == 'Way forward' %}
                        <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                            <polygon class="blue" fill="#B7DDF4" points="32.983,40.843 32.983,9.578 11.917,40.843 " />
                            <polygon class="blue" fill="#B7DDF4" points="36.621,40.843 36.621,9.578 57.687,40.843 " />
                            <polygon class="blue" fill="#B7DDF4" points="66.903,44.107 3.097,44.107 13.097,60.422 56.903,60.422 " />
                        </svg>
                        {% endif %}
                    {% elif card.acf_fc_layout === 'intro' %}
                    <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <path class="blue" fill="#B7DDF4" d="M41.578,6.479C39.382,5.68,36.985,5.285,35,5.237c-1.985,0.048-4.382,0.443-6.578,1.243
                    	C1.504,16.21,25.054,51.127,35,64.763C44.946,51.127,68.496,16.21,41.578,6.479z" />
                        <path fill="#FFFFFF" d="M43.097,25.017c0,4.823-3.455,8.106-8.097,8.106c-4.642,0-8.098-3.283-8.098-8.106
                    	c0-4.822,3.455-8.246,8.098-8.246C39.642,16.771,43.097,20.195,43.097,25.017z" />
                    </svg>
                    {% elif card.acf_fc_layout === 'feedback' %}
                    <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <path class="blue" fill="#B7DDF4" d="M57.029,46.532c3.426-3.76,5.471-8.421,5.471-13.464c0-12.415-12.303-22.482-27.502-22.482
                    	C19.802,10.586,7.5,20.653,7.5,33.068c0,12.42,12.302,22.48,27.498,22.48c3.366,0,6.601-0.498,9.594-1.404l17.909,5.27
                    	L57.029,46.532z" />
                    </svg>
                    {% elif card.acf_fc_layout === 'likert' %}
                    <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <rect  class="blue" x="5.59" y="22.529" fill="#B7DDF4" width="17.923" height="39.804" />
                        <rect class="blue" x="26.038" y="7.667" fill="#B7DDF4" width="17.923" height="54.667" />
                        <rect class="blue" x="46.486" y="37.392" fill="#B7DDF4" width="17.923" height="24.942" />
                    </svg>
                    {% elif card.acf_fc_layout === 'likert_grid' %}
                    <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <path class="blue" fill="#B7DDF4" d="M57.029,46.532c3.426-3.76,5.471-8.421,5.471-13.464c0-12.415-12.303-22.482-27.502-22.482 C19.802,10.586,7.5,20.653,7.5,33.068c0,12.42,12.302,22.48,27.498,22.48c3.366,0,6.601-0.498,9.594-1.404l17.909,5.27 L57.029,46.532z" />
                    </svg>
                    {% else %}
                    <svg x="0px" y="0px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
                        <g>
                            <path class="blue" fill="#B7DDF4" d="M7,50.601C7,57.449,12.551,63,19.399,63h31.203C57.449,63,63,57.449,63,50.601V19.399
                    		C63,12.551,57.449,7,50.601,7H19.399C12.551,7,7,12.551,7,19.399V50.601z" />
                        </g>
                        <path fill="#FFFFFF" d="M15.531,45.317c-2.034,2.741-1.463,6.612,1.278,8.646c2.74,2.034,6.612,1.463,8.647-1.279
                    	c2.034-2.741,1.463-6.614-1.278-8.647C21.437,42.001,17.566,42.576,15.531,45.317z" />
                        <path fill="#FFFFFF" d="M44.544,17.317c-2.034,2.741-1.463,6.612,1.278,8.646c2.74,2.034,6.612,1.463,8.647-1.279
                    	c2.034-2.741,1.463-6.614-1.278-8.647C50.45,14.001,46.579,14.576,44.544,17.317z" />
                        <path fill="#FFFFFF" d="M30,30.847c-2.034,2.741-1.463,6.612,1.278,8.647c2.74,2.034,6.612,1.463,8.647-1.279
                    	c2.034-2.741,1.463-6.614-1.278-8.647C35.907,27.531,32.036,28.107,30,30.847z" />
                    </svg>
                    {% endif %}
                    <!-- <i
                        class="icon symbol-{% if card.acf_fc_layout === 'text' %}{% if card.type == 'Water-readings' %}water-readings{% elif card.type == 'Group activity' %}group-activity{% elif card.type == 'Activity' %}activity{% elif card.type == 'Stop and wonder' %}stop-and-wonder{% elif card.type == 'Way forward' %}way-forward{% endif %}{% elif card.acf_fc_layout === 'intro' %}activity-description{% elif card.acf_fc_layout === 'feedback' %}water-shares{% elif card.acf_fc_layout === 'likert' %}water-meter{% else %}play-and-learn{% endif %}"></i> -->
                </li>
                {% endfor %}
            </ul>
        </nav>
        <section class="app-screen__cards slider" data-type="fade" data-id="page-slider--{{ slider_counter }}">
            <!-- START CARD SECTION-->
            {% for card in post.acf.cards %}
            {% set page_counter = ( page_counter | default(0) ) + 1 %}
            {% if card.acf_fc_layout === 'intro' %}
            <!-- START CARD -->
            {% include "partials/intro.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'text' %}
            <!-- START CARD -->
            {% include "partials/text.njk" %}
            <!-- END CARD -->
            {% else %}
            {% set quiz_counter = ( quiz_counter | default(0) ) + 1 %}
            {% if card.acf_fc_layout === 'multiple_choice' %}
            <!-- START CARD -->
            {% set multiple_choice_counter = ( multiple_choice_counter | default(0) ) + 1 %}
            {% include "partials/quiz-multiple-choice.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'multiple_choice_multiple' %}
            {% set multiple_choice_multiple_counter = ( multiple_choice_multiple_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-multiple-choice-multiple.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'multiple_choice_grid' %}
            {% set multiple_choice_grid_counter = ( multiple_choice_grid_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-multiple-choice-grid.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'checkbox' %}
            {% set checkbox_counter = ( checkbox_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-checkbox.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'feedback' %}
            {% set feedback_counter = ( feedback_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-feedback.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'likert' %}
            {% set likert_counter = ( likert_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-likert.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'likert_grid' %}
            {% set likert_grid_counter = ( likert_grid_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-likert-grid.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'sortable' %}
            {% set sortable_counter = ( sortable | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-sortable.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'hotspot' %}
            {% set hotspot_counter = ( hotspot_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-hotspot.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% if card.acf_fc_layout === 'dragndrop' %}
            {% set dragndrop_counter = ( dragndrop_counter | default(0) ) + 1 %}
            <!-- START CARD -->
            {% include "partials/quiz-dragndrop.njk" %}
            <!-- END CARD -->
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- END CARD SECTION-->
        </section>
        <button type="button" class="page-nav prev disabled" tabindex="-1" data-id="page-slider--{{ slider_counter }}">
            <i class="icon arrow-left"></i>
        </button>
        <button type="button" class="page-nav next" tabindex="-1" data-id="page-slider--{{ slider_counter }}">
            <i class="icon arrow-left"></i>
        </button>
        <!-- <i class="icon card-theme-icon theme-play-and-learn"></i> -->
    </section>
    {% elif post.slug === 'info' %}
    <section class="app-screen page app-screen--info" data-id="app-screen--{{ post.slug }}">
        <button class="close" type="button" data-target="app-screen--{{ post.slug }}">
            <span class="visually-hidden">Close</span>
            <i class="icon close-page-color"></i></button>
        <header class="app-screen__header">
            <h2 class="visually-hidden">NCWR, Non Conventional Water Resources</h2>
        </header>
        <nav class="app-screen__nav" data-id="page-slider--{{ slider_counter }}">
            <ul style="width: 100%">
                {% for tab in post.acf.tabs %}
                {% set nav_info_counter = ( nav_info_counter | default(0) ) + 1 %}
                <li data-target="app-card--{{ nav_info_counter }}">
                    {{ tab.heading }}
                </li>
                {% endfor %}
            </ul>
        </nav>

        <section class="app-screen__cards slider" data-type="fade" data-id="page-slider--{{ slider_counter }}">
            {% for tab in post.acf.tabs %}
            {% set page_info_counter = ( page_info_counter | default(0) ) + 1 %}
            <div class="app-card app-screen--info app-card--text slide{% if page_info_counter === 1 %} current{% endif %}"
                data-id="app-card--{{ page_info_counter }}">
                <div class="scroll-container">
                    <div class="inner-scroll">
                        <div class="container">
                            <h2>{{ tab.heading }}</h2>
                            <article>{{ tab.block_1 }}</article>
                            <article>{{ tab.block_2 }}</article>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        <nav class="prev-next" data-id="page-slider--{{ slider_counter }}">
            <button type="button" class="prev disabled" tabindex="-1">
                <i class="icon arrow-left"></i>
            </button>
            <button type="button" class="next" tabindex="-1">
                <i class="icon arrow-left"></i>
            </button>
        </nav>
    </section>

    {% endif %}
    {% endfor %}
</main>

<section class="maps-tooltips">
    {% for post in posts %}
    {% if post.id !== '321' %}
    <article class="map-tooltip" data-id="{{ post.slug }}">
        <h2>{{ post.acf.card_title }}</h2>
    </article>
    {% endif %}
    {% endfor %}
</section>

<section class="maps-popups">
    {% for post in posts %}
    {% if post.id !== '321' %}
    <article class="map-popup" data-id="{{ post.slug }}">
        <button type="button" class="close-popup-btn">
            <i class="icon close-popup"></i>
        </button>
        <h2>{{ post.acf.card_title }}</h2>
        <p>{{ post.acf.card_summary }}</p>
        <a href="/post/{{ post.slug }}" class="open-page button" data-target="app-screen--{{ post.slug }}">Continue!</a>
    </article>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}