@charset "UTF-8";
/* open-sans-regular - latin */
@font-face {
  font-family: 'cf_asty_stdbold';
  src: url("fonts/cfastystd-bold-webfont.woff2") format("woff2"), url("fonts/cfastystd-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url("fonts/cfastystd-book-webfont.woff2") format("woff2"), url("fonts/cfastystd-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdbook_oblique';
  src: url("fonts/cfastystd-bookoblique-webfont.woff2") format("woff2"), url("fonts/cfastystd-bookoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdmedium';
  src: url("fonts/cfastystd-medium-webfont.woff2") format("woff2"), url("fonts/cfastystd-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdmedium_oblique';
  src: url("fonts/cfastystd-mediumoblique-webfont.woff2") format("woff2"), url("fonts/cfastystd-mediumoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdlight';
  src: url("fonts/cfastystd-light-webfont.woff2") format("woff2"), url("fonts/cfastystd-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdlight_oblique';
  src: url("fonts/cfastystd-lightoblique-webfont.woff2") format("woff2"), url("fonts/cfastystd-lightoblique-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedblack';
  src: url("fonts/heroiccondensed-black-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedbold';
  src: url("fonts/heroiccondensed-bold-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedbook';
  src: url("fonts/heroiccondensed-book-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedlight';
  src: url("fonts/heroiccondensed-light-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedmedium';
  src: url("fonts/heroiccondensed-medium-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedregular';
  src: url("fonts/heroiccondensed-regular-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heroic_condensedthin';
  src: url("fonts/heroiccondensed-thin-webfont.woff2") format("woff2"), url("fonts/heroiccondensed-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section,
canvas {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1;
}

.loading.hidden {
  opacity: 0;
  z-index: -1;
}

.loading.visible {
  opacity: 1;
}

.no-js .loading {
  opacity: 0;
  z-index: -1;
}

.loading__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__container p {
  font-family: 'cf_asty_stdmedium', serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  letter-spacing: 1px;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin: 0px 0 0 -70px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0050C2;
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0090d7;
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0baeff;
  animation: spin 1s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes spin {
  0% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  transition: all 0.3s 0.3s ease-out;
}

.icon {
  font-size: 10px;
}

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("svg/sprite.svg");
  background-repeat: no-repeat;
  background-size: 38em 293.4em;
}

.no-svg .icon:before {
  background-image: url("../svg/sprite.png");
}

.icon.arrow-left:before {
  background-position: 0em 0em;
  width: 3.5em;
  height: 7em;
}

.icon.arrow-right:before {
  background-position: 0em -7em;
  width: 3.5em;
  height: 7em;
}

.icon.arrow_left:before {
  background-position: 0em -14em;
  width: 1.2em;
  height: 2em;
}

.icon.arrow_right:before {
  background-position: 0em -16em;
  width: 1.2em;
  height: 2em;
}

.icon.checkbox-r:before {
  background-position: 0em -18em;
  width: 1.9664000000000001em;
  height: 1.5999em;
}

.icon.checkbox-w-thick:before {
  background-position: 0em -19.6em;
  width: 3.4em;
  height: 3.4em;
}

.icon.close-button-activity:before {
  background-position: 0em -23em;
  width: 3.6em;
  height: 3.6em;
}

.icon.close-page-color:before {
  background-position: 0em -26.6em;
  width: 3.4em;
  height: 3.4em;
}

.icon.close-popup:before {
  background-position: 0em -30em;
  width: 1.5em;
  height: 1.5em;
}

.icon.info:before {
  background-position: 0em -31.5em;
  width: 3.4em;
  height: 3.4em;
}

.icon.info-dark:before {
  background-position: 0em -34.9em;
  width: 3.4em;
  height: 3.4em;
}

.icon.info-white:before {
  background-position: 0em -38.3em;
  width: 3.4em;
  height: 3.4em;
}

.icon.ncwr-logo:before {
  background-position: 0em -41.7em;
  width: 22em;
  height: 14em;
}

.icon.ncwr-logo1:before {
  background-position: 0em -55.7em;
  width: 21.778em;
  height: 13.236em;
}

.icon.reset:before {
  background-position: 0em -69em;
  width: 3.4000999999999997em;
  height: 3.4000999999999997em;
}

.icon.symbol-activity:before {
  background-position: 0em -72.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-activity-active:before {
  background-position: 0em -79.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-activity-description:before {
  background-position: 0em -86.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-activity-description-active:before {
  background-position: 0em -93.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-activity-duration:before {
  background-position: 0em -100.5em;
  width: 10em;
  height: 10em;
}

.icon.symbol-age:before {
  background-position: 0em -110.5em;
  width: 10em;
  height: 10em;
}

.icon.symbol-group-activity:before {
  background-position: 0em -120.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-group-activity-active:before {
  background-position: 0em -127.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-in-the-class:before {
  background-position: 0em -134.5em;
  width: 10em;
  height: 10em;
}

.icon.symbol-outdoor-activity:before {
  background-position: 0em -144.5em;
  width: 10em;
  height: 10em;
}

.icon.symbol-play-and-learn:before {
  background-position: 0em -154.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-play-and-learn-active:before {
  background-position: 0em -161.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-stop-and-wonder:before {
  background-position: 0em -168.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-stop-and-wonder-active:before {
  background-position: 0em -175.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-meter:before {
  background-position: 0em -182.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-meter-active:before {
  background-position: 0em -189.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-readings:before {
  background-position: 0em -196.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-readings-active:before {
  background-position: 0em -203.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-shares:before {
  background-position: 0em -210.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-water-shares-active:before {
  background-position: 0em -217.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-way-forward:before {
  background-position: 0em -224.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-way-forward-active:before {
  background-position: 0em -231.5em;
  width: 7em;
  height: 7em;
}

.icon.symbol-worksheet:before {
  background-position: 0em -238.5em;
  width: 10em;
  height: 10em;
}

.icon.thank-you-balloon:before {
  background-position: 0em -248.5em;
  width: 3.3em;
  height: 3em;
}

.icon.theme-play-and-learn:before {
  background-position: 0em -251.5em;
  width: 38em;
  height: 35em;
}

.icon.zoom-in:before {
  background-position: 0em -286.5em;
  width: 3.4em;
  height: 3.4000999999999997em;
}

.icon.zoom-out:before {
  background-position: 0em -290em;
  width: 3.4em;
  height: 3.4em;
}

button,
label,
.label {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'cf_asty_stdlight', serif;
  line-height: 1.2;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

button {
  font-family: 'cf_asty_stdregular', serif;
}

button svg, button i {
  display: inline-block;
  pointer-events: none;
}

.app-screen {
  position: absolute;
  display: grid;
  grid-template-rows: 7% 10% 83%;
  padding: 0;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background: #fff;
  border-radius: 0;
  overflow: hidden;
  transform: translate3d(100%, 0, 0) rotate(0.001deg);
  transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  will-change: transform;
  z-index: 3;
}

.app-screen.open {
  transform: translate3d(0, 0, 0) rotate(0.001deg);
  transition: transform 1s cubic-bezier(0.55, 0.085, 0, 0.99);
  will-change: transform;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.app-screen .close {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
}

.app-screen .close > * {
  pointer-events: none;
}

.app-screen__header {
  margin-top: 1%;
  margin-left: 8%;
  display: flex;
  align-items: center;
}

.app-screen__header h2 {
  margin: 0;
  font-family: 'heroic_condensedbold', sans-serif;
  font-size: 36px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #444;
}

.app-screen__nav {
  margin-top: 0;
  box-shadow: inset 0 -8px 6px -6px #efefef;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.app-screen__nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  margin: 0 8%;
}

.app-screen__nav ul li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.app-screen__nav ul li > * {
  pointer-events: none;
}

.app-screen__nav ul li:last-child {
  margin-right: 0;
}

.app-screen__nav ul li.active svg .blue {
  fill: #0090d7;
}

.app-screen__nav ul li:hover {
  cursor: pointer;
}

.app-screen__nav ul li svg {
  width: auto;
  height: 5vh;
  height: 5vmin;
}

.app-screen__cards {
  position: relative;
  padding-top: 1.5%;
  width: 100%;
  z-index: 2;
}

.app-screen .app-card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 750px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.app-screen .app-card p, .app-screen .app-card li {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
  color: #000;
}

.app-screen .app-card p:last-child, .app-screen .app-card li:last-child {
  margin-bottom: 0;
}

.app-screen .app-card p img {
  max-width: 100%;
  height: auto;
}

.app-screen .app-card .alignright,
.app-screen .app-card .alignleft {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  max-width: 430px;
  height: auto;
}

.app-screen .app-card .alignright {
  float: right;
  margin-left: 20px;
  margin-left: 1.25rem;
}

.app-screen .app-card .alignleft {
  float: left;
  margin-right: 30px;
  margin-right: 1.875rem;
  margin-top: 7px;
}

.app-screen .app-card--intro {
  width: 1080px;
}

.app-screen .app-card--intro .inner-scroll .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding-top: 3%;
  padding-bottom: 3%;
  max-width: 100% !important;
}

.app-screen .app-card--intro .inner-scroll h3 {
  text-transform: uppercase;
  font-size: 30px;
  font-size: 1.875rem;
}

.app-screen .app-card--intro .inner-scroll .activity--summary p {
  font-size: 28px;
  font-size: 1.75rem;
}

.app-screen .app-card--intro .inner-scroll .activity--properties {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.app-screen .app-card--intro .inner-scroll .activity--properties__property {
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0;
}

.app-screen .app-card--intro .inner-scroll .activity--properties__property .icon {
  font-size: 13px;
}

.app-screen .app-card--intro .inner-scroll .activity--properties__property span {
  font-family: 'heroic_condensedbold', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  color: #666;
}

.app-screen .app-card--intro .inner-scroll .activity--objectives ul {
  list-style: outside;
  margin-left: 40px;
  margin-top: 20px;
}

.app-screen .app-card--intro .inner-scroll .activity--objectives ul li {
  margin-bottom: 5px;
}

.app-screen .app-card--intro .inner-scroll .activity--assets {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.4;
}

.app-screen .app-card--multiple-choice, .app-screen .app-card--multiple-choice-multiple {
  width: 700px;
}

.app-screen .app-card--likert_grid .scroll-container .inner-scroll .container {
  max-width: 960px;
}

.app-screen .app-card--quiz hr {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e4e2;
}

.app-screen .app-card--quiz hr:last-child {
  display: none;
}

.app-screen .scroll-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-screen .scroll-container .inner-scroll {
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding-right: 30px;
  padding-top: 45px;
}

.app-screen .scroll-container .inner-scroll .container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.app-screen .scroll-container .inner-scroll h2 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: 0;
}

.app-screen .scroll-container .inner-scroll ul {
  list-style-type: disc;
  margin-left: 40px;
  margin-left: 2.5rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}

.app-screen .scroll-container .inner-scroll > *:last-child {
  margin-bottom: 100px;
}

.app-screen--info .scroll-container .inner-scroll h2 {
  margin-bottom: 0;
  font-family: 'cf_asty_stdbold', serif;
  font-size: 40px;
  font-size: 2.5rem;
  text-transform: none;
}

.app-screen--info .scroll-container .inner-scroll .app-icons--info p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-screen--info .app-screen__nav {
  align-items: center;
}

.app-screen--info .app-screen__nav ul {
  justify-content: space-around;
  max-width: 793px;
  margin: 0 auto;
}

.app-screen--info .app-screen__nav li {
  width: auto;
  height: auto;
  font-family: 'heroic_condensedbold', sans-serif;
  font-size: 34px;
  font-size: 2.125rem;
  color: #a4e1ff;
  text-transform: uppercase;
}

.app-screen--info .app-screen__nav li.active {
  color: #0090d7;
}

.app-screen--info .app-screen__cards article {
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.app-screen .card-theme-icon {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 8px;
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .app-screen__header {
    margin-left: 3%;
    margin-right: 15%;
    flex-wrap: wrap;
  }
  .app-screen__nav ul {
    margin: 0 3%;
  }
  .app-screen__nav ul li {
    margin-bottom: 10px;
  }
  .app-screen__nav ul li svg {
    width: auto;
    height: 5vh;
    height: 5vmin;
  }
  .app-screen__cards {
    width: 100vw;
  }
  .app-screen .app-card {
    left: 0;
    transform: translateX(0);
  }
  .app-screen .app-card .inner-scroll .container {
    margin: 0 10%;
  }
  .app-screen .app-card--intro {
    width: 100%;
  }
  .app-screen .app-card--intro .inner-scroll .container {
    display: flex;
    flex-direction: column;
    padding: 3% 0 3% 0;
    max-width: 100% !important;
  }
  .app-screen .app-card--intro .inner-scroll .container .col {
    margin-bottom: 20px;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .app-screen .app-card--intro .inner-scroll .container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
  }
  .app-screen .app-card--intro .inner-scroll .container .col {
    margin-right: 80px;
  }
  .app-screen .app-card--intro .inner-scroll .container .col:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 1;
  }
  .app-screen .app-card--intro .inner-scroll .container .col:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 1919px) {
  .app-screen {
    width: 85%;
  }
}

@media (max-width: 1679px) {
  .app-screen {
    width: 90%;
  }
}

@media (max-width: 1300px) {
  .app-screen {
    width: 95%;
  }
}

@media (max-width: 1199px) {
  .app-screen {
    width: 100%;
  }
}

.loader {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #fff;
  }
  40% {
    stroke: #fff;
  }
  66% {
    stroke: #fff;
  }
  80%,
  90% {
    stroke: #fff;
  }
}

form {
  display: block;
  margin-top: 0;
  font-family: 'cf_asty_stdlight', serif;
  margin-top: 20px;
  margin-top: 1.25rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: #000;
  -o-border-image: initial;
     border-image: initial;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.4;
  margin-bottom: 1em;
  font-family: 'cf_asty_stdmedium', serif;
  color: #444;
}

legend p {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.4;
}

label {
  display: block;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
}

input,
keygen,
select,
button {
  text-rendering: auto;
  color: #000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em 0em 0em 0em;
  font-size: 16px;
  font-size: 1rem;
}

input,
keygen,
select,
button,
meter,
progress {
  -webkit-writing-mode: horizontal-tb;
}

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {
  padding: 1px 0px;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  cursor: auto;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: #000;
  -o-border-image: initial;
     border-image: initial;
}

textarea {
  resize: none;
  font-family: monospace;
}

textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  -o-border-image: initial;
     border-image: initial;
  padding: 10px;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #bbb;
  color: #444;
}

::-webkit-input-placeholder {
  text-align: left;
}

input + label .input-icon {
  position: relative;
}

input + label .input-icon i {
  position: absolute;
  top: -2px;
}

input + label .input-icon .checkbox-r {
  left: 5px;
}

input + label .input-icon .checkbox-w-thick {
  left: -2px;
}

input + label .input-text {
  width: calc(100% - 34px);
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: flex;
  margin-bottom: 10px;
  margin-bottom: 0.625rem;
}

input[type="checkbox"] + label {
  display: flex;
  align-items: flex-start;
}

input[type="radio"] + label i,
input[type="checkbox"] + label i {
  opacity: 0;
}

/*radio*/
input[type="radio"] {
  -webkit-appearance: radio;
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  color: #000;
  line-height: 30px;
}

input[type="radio"] + label .input-icon {
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

input[type="radio"] + label .input-icon {
  background-color: #e0e4e2;
}

/*radio-buttons: likert scale*/
.likert-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

form .likert {
  position: relative;
  text-align: center;
}

form .likert input {
  display: block;
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-68%, -100%) rotate(0.001deg);
  z-index: 10;
  cursor: pointer;
}

form .likert mark {
  display: block;
  text-align: center;
}

form .likert.scale-label {
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

/*checkbox*/
input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"] + label {
  color: #000;
  line-height: 30px;
}

input[type="checkbox"] + label .input-icon {
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 3px;
  cursor: pointer;
}

input[type="checkbox"] + label .input-icon {
  background-color: #e0e4e2;
}

.checkbox-prompt, .checkbox-prompt.visible {
  margin-top: 0;
  display: inline-flex;
  padding: 5px 10px;
  background-color: #eef0ef;
  font-size: 16px;
  font-size: 1rem;
}

/**
 * Checked input
 */
input:checked + label .input-icon {
  background-color: #0090d7;
  background-repeat: no-repeat;
  background-position: 3px 0px;
  box-shadow: 0px 0 0px;
}

input:checked + label .input-icon .checkbox-r {
  opacity: 1;
}

.slider input:checked + label .input-icon .checkbox-r {
  opacity: 1;
}

/**
 * Correct / wrong answer styling
 */
.submitted input[data-type="correct"] + label .input-icon {
  vertical-align: top;
  margin-right: 10px;
}

.submitted input[data-type="correct"] + label .input-icon .checkbox-r {
  opacity: 1;
}

.submitted input[data-type="correct"] + label .input-icon .checkbox-w-thick {
  opacity: 0;
}

.submitted input[data-type="wrong"] + label .input-icon {
  vertical-align: top;
  margin-right: 10px;
}

.submitted input[data-type="wrong"] + label .input-icon .checkbox-w-thick {
  opacity: 1;
}

.submitted input[data-type="wrong"] + label .input-icon .checkbox-r {
  opacity: 0;
}

.submitted input[data-type="correct"] + label.selected .input-icon {
  background-color: #60b846;
}

.submitted input[data-type="wrong"] + label.selected .input-icon {
  background-color: #e30000;
}

/**
 * Disabled input
 */
input:disabled + label .input-icon {
  cursor: default;
}

/*select*/
select:not(:-internal-list-box) {
  overflow: visible !important;
}

select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: #000;
  background-color: white;
  cursor: default;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  -o-border-image: initial;
     border-image: initial;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/**
 * Buttons
 */
.form__buttons {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 45px;
  padding-top: 2.8125rem;
}

.form__buttons .prompt-dnd {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.form__buttons .form-error {
  align-self: center;
  font-family: 'cf_asty_stdregular', serif;
}

.form__buttons .submit-button {
  align-self: flex-start;
  margin: 0;
  margin-right: 30px;
  margin-right: 1.875rem;
}

.form__buttons .thankyou_message {
  display: flex;
  flex-direction: column;
}

.form__buttons .check-answer-container span {
  padding: 0;
}

.form__buttons .check-answer-container .wrong {
  margin: 0;
}

.form__buttons.centered {
  align-content: center;
  justify-content: center;
  padding-top: 60px;
  padding-top: 3.75rem;
}

.form__buttons.centered .submit-button {
  align-self: center;
  margin: 0;
}

.form__buttons.centered .check-answer-container {
  text-align: center;
}

.form__buttons.centered .form-error {
  position: absolute;
  right: 0;
}

.submit,
.submit-button {
  position: relative;
  margin-top: 35px;
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
  padding: 12px 40px;
  border-radius: 5px;
  background: #0090d7;
  color: #fff;
}

.submit.disabled,
.submit-button.disabled {
  background-color: #e0e4e2;
  color: #999;
}

.reset.submit-button {
  display: block;
  margin: 0;
  margin-top: 20px;
  margin-top: 1.25rem;
}

form mark {
  background-color: transparent;
  font-size: 22px;
  font-size: 1.375rem;
  color: #000;
}

.check-answer {
  line-height: 1;
}

.form-error {
  color: black;
}

.checkbox-photo {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.correct {
  display: inline-block;
  font-family: 'cf_asty_stdmedium', serif;
  color: #60b846;
  border-radius: 30px;
  font-size: 20px;
  font-size: 1.25rem;
}

div.checkbox {
  display: flex;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #e0e4e2;
}

div.checkbox:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

div.checkbox .slide__image {
  margin-right: 30px;
  margin-right: 1.875rem;
}

div.checkbox .slide__image figure {
  display: flex;
}

div.checkbox .slide__image figure img {
  margin-top: 0;
}

div.checkbox .form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}

div.checkbox .form-buttons .checkbox-prompt {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.wrong {
  display: inline-block;
  font-family: 'cf_asty_stdregular', serif;
  color: #e30000;
  padding: 10px 0;
  font-size: 16px;
}

input[type="checkbox"] + label:focus {
  border: 1px dotted #ccc;
  border-radius: 30px;
}

.submit-button:focus {
  border: 1px dotted #ccc;
  border-radius: 5px;
}

@media screen and (max-width: 1199px) {
  form .likert label {
    justify-content: flex-start;
  }
  .likert-container {
    flex-direction: column;
  }
}

/**
 * Drag and Drop quiz
 * drag-and-drop = dnd
 */
.app-card--dragndrop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-card--dragndrop .inner-scroll h2, .app-card--dragndrop .quiz-description {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.app-card--dragndrop .inner-scroll .container {
  width: 950px;
  max-width: 950px !important;
}

.app-card--dragndrop h2 {
  align-self: flex-start;
}

.app-card--dragndrop .form__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app-card--dragndrop .form__buttons .submit-button {
  cursor: pointer;
}

.app-card--dragndrop .form__buttons .prompt-dnd {
  position: absolute;
  text-align: center;
  width: auto;
  left: auto;
  transform: unset;
  background-color: transparent;
  font-size: 20px;
  font-size: 1.25rem;
}

.app-card--dragndrop .form__buttons .prompt-dnd.correct {
  margin-top: 10px;
  padding: 10px 20px;
  color: #60b846;
}

.app-card--dragndrop .form__buttons .prompt-dnd.wrong {
  margin-top: 10px;
  color: #e30000;
  font-family: "cf_asty_stdregular", sans-serif;
}

@media screen and (max-width: 1199px) {
  .app-card--dragndrop .inner-scroll .container {
    width: auto;
  }
  .app-card--dragndrop .inner-scroll h2, .app-card--dragndrop .quiz-description {
    width: auto;
  }
}

.quiz-dnd {
  position: relative;
  width: 100%;
  margin-top: 2em;
}

.quiz-dnd .column-headings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
}

.quiz-dnd .column-headings h3 {
  font-size: 21px;
  font-size: 1.3125rem;
}

.quiz-dnd .questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 52px;
}

.quiz-dnd h3 {
  font-size: 22px;
  text-align: center;
  font-family: 'cf_asty_stdmedium', serif;
}

.quiz-dnd ul {
  position: relative;
  width: 100%;
  list-style-type: none;
  margin: 0 !important;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.quiz-dnd ul.dnd-target-container li {
  border-radius: 5px;
  flex-direction: column;
  align-items: flex-start;
  border-color: #0090d7;
  border-style: solid;
}

.quiz-dnd ul.dnd-target-container li .target-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.quiz-dnd ul.dnd-target-container li .origin-text {
  font-size: 14px;
  display: block;
  border-top: 1px solid #0090d7;
  margin-top: 10px;
  padding-top: 10px;
  display: none;
}

.quiz-dnd ul.dnd-target-container li.available {
  border-style: dashed;
  border-color: #000;
  border-color: #666;
}

.quiz-dnd ul.dnd-target-container .text {
  text-align: left;
  font-family: 'cf_asty_stdregular', serif;
}

.quiz-dnd ul.dnd-origin-container {
  flex-direction: column;
}

.quiz-dnd ul.dnd-origin-container li {
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
  align-items: flex-start;
  background-color: #d7f2ff;
}

.quiz-dnd ul.dnd-origin-container .text {
  text-align: left;
  font-family: 'cf_asty_stdregular', serif;
}

.quiz-dnd ul li {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 12px 8px 12px !important;
  list-style-type: outside;
  max-width: 450px;
  background-color: transparent;
  border-color: #000;
  color: #000;
  padding: 8px 20px 8px 12px;
}

.quiz-dnd ul li.correct {
  border-color: #60b846;
}

.quiz-dnd ul li.wrong {
  border-color: #e30000;
}

@media (max-width: 500px) {
  .quiz-dnd {
    flex-direction: column;
    width: 480px;
  }
}

.dnd-origin.highlighted {
  background-color: #a4e1ff !important;
}

.quiz-dnd li:last-child {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .quiz-dnd ul {
    margin-top: 10px;
    padding: 0;
  }
}

.dnd-label.wrong {
  margin: 0;
  padding: 0;
}

.dnd-label.correct {
  margin: 0;
  padding: 0;
}

.dnd-label .drag-handle,
.dnd-label .drag-handle-target,
.dnd-label .right-positions,
.dnd-label .clone {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-height: 36px;
  border-radius: 50%;
  margin-left: 12px;
  background: #0090d7;
  color: white;
  font-family: "cf_asty_stdbold", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.dnd-label .drag-handle.disabled,
.dnd-label .drag-handle-target.disabled,
.dnd-label .right-positions.disabled,
.dnd-label .clone.disabled {
  pointer-events: none;
}

.dnd-label .drag-handle.wrong,
.dnd-label .drag-handle-target.wrong,
.dnd-label .right-positions.wrong,
.dnd-label .clone.wrong {
  margin: 0;
  padding: 0;
}

.dnd-label .drag-handle.correct,
.dnd-label .drag-handle-target.correct,
.dnd-label .right-positions.correct,
.dnd-label .clone.correct {
  margin: 0;
  padding: 0;
}

.dnd-label .drag-handle-target {
  color: #000;
}

.dnd-label .right-positions {
  background: #60b846;
}

.dnd-label .drag-handle {
  z-index: 1;
}

.dnd-label .drag-handle-target {
  background-color: #e0e4e2;
  border: 2px solid #e0e4e2;
  float: right;
  margin-left: 0;
  margin-right: 15px;
}

.dnd-label .drag-handle-target:after {
  content: '+';
  font-family: "cf_asty_stdregular", sans-serif;
  font-size: 21px;
}

.dnd-label .drag-handle-target.showOver {
  border: 2px solid #66aefe;
}

.dnd-label .drag-handle-target.transparent {
  background-color: transparent;
  border: 2px solid transparent;
}

.dnd-label .right-positions {
  position: absolute;
  top: 8px;
  left: 0px;
  opacity: 0;
  font-size: 16px;
}

.dnd-label .text, .dnd-label .sound {
  flex: 1;
  align-self: center;
  display: inline;
  margin: 0 auto;
  font-size: 16px;
  margin-left: 0;
  margin-right: 12px;
  line-height: 1.3;
  color: #333;
}

.dnd-label .sound {
  width: 64px;
  height: 32px;
  overflow: hidden;
}

.dnd-label .clone {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 12px;
  margin-left: 12px;
  z-index: 0;
  background: #efefef;
  color: #000;
  top: 8px;
}

.dnd-label .clone.default {
  position: relative;
  left: auto;
  transform: translate(0, 0);
}

.quiz-dnd ul li.showOver {
  animation: glow 0.6s 1;
  transform: rotateZ(360deg);
}

.glow {
  animation: glow 1.75s 1;
  transform: rotateZ(360deg);
}

.glow-infinite {
  animation: glow_large 1.75s infinite;
  transform: rotateZ(360deg);
}

.static-glow {
  box-shadow: 0 0 0 15px rgba(254, 122, 0, 0.4);
  transform: rotateZ(360deg);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 122, 0, 0.6);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(254, 122, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 122, 0, 0);
  }
}

@keyframes glow_large {
  0% {
    box-shadow: 0 0 0 0 rgba(254, 122, 0, 0.6);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(254, 122, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(254, 122, 0, 0);
  }
}

.highlight-correct {
  background-color: #60b846 !important;
}

.highlight-wrong {
  background-color: red !important;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.check-dnd {
  margin-bottom: 0px;
}

.reset-dnd {
  margin-right: 0;
}

@media (max-width: 1048px) {
  .quiz-dnd .questions {
    grid-gap: 52px;
  }
}

html {
  font-size: 16px;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1367px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: inherit;
}

body {
  background-color: #77AFE0;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'cf_asty_stdlight', serif;
  font-size: 100%;
  line-height: 1.5;
  font-stretch: normal;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
  overflow: hidden;
  word-wrap: break-word;
}

figure {
  margin: 0;
}

p, li {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.5;
}

button[type="button"] {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-size: 1rem;
}

button[type="button"] > * {
  pointer-events: none;
}

.arrow-down:before {
  transform: rotate(0deg);
  transition: 200ms ease;
}

.rotated,
i.rotated:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: 300ms ease all;
}

:focus {
  outline: none;
}

strong {
  font-weight: normal;
  font-family: "cf_asty_stdbold", sans-serif;
}

ol, ul {
  margin: 2em 3em 2em 3em;
}

h2, h3, h4, h5 {
  font-family: 'cf_asty_stdbold', serif;
  font-size: 36px;
  line-height: 1.3;
  font-weight: normal;
  color: #555;
  margin: 1em 0 0.5em 0;
  padding: 0;
}

h2 > *, h3 > *, h4 > *, h5 > * {
  font-family: 'heroic_condensedbold', sans-serif;
}

h3, h4, h5 {
  margin-bottom: 0.5em;
  color: #444;
}

h4 {
  font-size: 28px;
  font-family: cf_asty_stdregular;
  margin-bottom: 0.2em;
  margin-top: 2em;
}

h4.underlined {
  margin-bottom: 0;
  border-bottom: 1px solid;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}

pre {
  background-color: #efefef;
  padding: 1em;
  margin: 2em 0;
  text-align: center;
}

p + h3 {
  margin-top: 2em;
}

em {
  font-family: 'cf_asty_stdlight_oblique', serif;
}

strong {
  font-family: 'cf_asty_stdmedium', serif;
  color: #444;
}

a {
  text-decoration: none;
  color: #0090d7;
}

a:hover {
  color: #0baeff;
}

/* autoprefixer grid: autoplace */
.inner-scroll h2 {
  font-family: 'heroic_condensedbold', sans-serif;
  text-transform: uppercase;
}

.hide {
  position: fixed;
  overflow: hidden;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
          clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  opacity: 0;
}

.show {
  position: relative;
  -webkit-clip-path: none;
          clip-path: none;
  opacity: 1;
  transition: opacity .4s ease-in;
  margin-top: 1em;
  font-size: 14px;
  line-height: 1.5;
}

.show.no-space {
  position: absolute;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.none {
  display: none;
  z-index: -1;
}

.block {
  display: block;
  z-index: 1;
}

.loader {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  width: 24px;
  height: 24px;
}

main {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.app-container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-header {
  position: absolute;
  top: 80px;
  left: 60px;
  z-index: 1;
}

.app-header .app-logo {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  .app-header {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}

.app-main__nav--row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  border-top: 5px solid #666;
}

.app-main__nav--row figure {
  width: 80%;
}

.app-main__nav--row figure figcaption {
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.app-main__nav--row .placeholder {
  float: left;
  width: 520px;
  height: 325px;
  background-color: #e4e4e4;
  margin-right: 1rem;
}

#preloader {
  z-index: 100;
  position: absolute;
}

#preloader #preloader-logo {
  position: absolute;
  top: 80px;
  left: 60px;
}

#preloader.visually-hidden #preloader-logo {
  display: none;
}

@media screen and (max-width: 1200px) {
  #preloader #preloader-logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}

audio {
  position: absolute;
  top: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

audio::-webkit-media-controls-enclosure {
  background: transparent;
}

.no-js .prev-next {
  display: none;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-nav {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 2;
}

.app-nav button {
  border-width: 0;
  cursor: pointer;
}

.app-nav button > * {
  pointer-events: none;
}

.floating-element {
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating-element.top {
  top: 2.5%;
  top: 0;
}

.floating-element.bottom {
  bottom: 2.5%;
}

.floating-element.left {
  left: 2.5%;
}

.floating-element.right {
  right: 2.5%;
}

.floating-element.logo {
  top: 5%;
}

.floating-element--button {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center center;
}

.points-nav {
  background-color: #0090d7;
  border-radius: 50%;
  z-index: 3 !important;
}

#nav-icon {
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  margin: 0 auto;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 55%;
  background-color: #fff;
  border-radius: 0px;
  opacity: 1;
  top: 8px;
  left: 8px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon.open span {
  height: 5px;
}

#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2) {
  background: transparent;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon span:nth-child(4) {
  top: 22px;
}

#nav-icon.open {
  background-color: #fff;
}

#nav-icon.open span {
  background-color: #0090d7;
}

#nav-icon.open span:nth-child(1) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
  top: 15px;
  left: 8px;
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
  left: 8px;
}

#nav-icon.open span:nth-child(4) {
  width: 0%;
  opacity: 0;
}

#info-icon {
  z-index: 5;
}

#info-icon > * {
  pointer-events: none;
}

#info-icon .info-close {
  opacity: 0;
}

#info-icon.open .info-close {
  opacity: 1;
}

#info-icon.open i.info {
  opacity: 0;
}

#info-icon-top.open {
  background-image: none;
  z-index: 5;
  top: 20px;
  top: 1.25rem;
  left: 10px;
}

#info-icon-top.open:after {
  content: "←";
  font-family: "cf_asty_stdbold", sans-serif;
  font-size: 11px;
  color: #fff;
  letter-spacing: 1px;
  vertical-align: bottom;
  display: block;
  width: 210px;
  margin-top: 2px;
}

@media screen and (max-width: 1199px) {
  #info-icon {
    z-index: 1;
  }
  .map-controls {
    display: none;
  }
}

.map-controls button {
  display: block;
  margin-bottom: 10px;
}

.sidebar-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: auto;
  height: 100vh;
  padding: 30px;
  padding: 1.875rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  background-color: #0090d7;
  color: #fff;
  overflow: hidden;
  transform: translate3d(105%, 0, 0) rotate(0.001deg);
  /* using rotate for firefox */
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.sidebar-nav--visible {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0) rotate(0.001deg);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@media screen and (max-width: 1199px) {
  .sidebar-nav {
    width: 25%;
  }
  .sidebar-nav--visible {
    left: 37%;
    transform: translate3d(0, 0, 0) rotate(0.001deg);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

@media screen and (max-width: 595px) {
  .sidebar-nav {
    width: 100vw;
    right: auto;
    left: 0;
  }
}

.sidebar-nav-list {
  height: 83vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  display: block;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  margin-bottom: 1.5vh;
  line-height: 1.1;
  max-width: 280px;
}

.sidebar-nav li a {
  text-decoration: none;
  font-size: 19px;
  font-size: 1.1875rem;
  font-size: 2vh;
  font-family: 'cf_asty_stdmedium', serif;
  color: #fff;
  letter-spacing: 1px;
}

.sidebar-nav-heading {
  height: 3vh;
  margin-top: 27px;
  margin-top: 1.6875rem;
  margin-bottom: 55px;
  margin-bottom: 3.4375rem;
  margin-bottom: 5vh;
  font-family: 'heroic_condensedmedium', sans-serif;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.1;
  letter-spacing: 1px;
  color: #fff;
}

/**
 * Info panel
 */
.info-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate3d(-100%, 0, 0) rotate(0.001deg);
  transition: all 0.5s cubic-bezier(0.18, 0.44, 0.28, 0.93);
}

.info-panel--closed {
  width: 100vw;
  height: 100vh;
  transform-origin: 0 100%;
}

.info-panel--visible {
  visibility: visible;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 0, 0) rotate(0.001deg);
  transition: all 0.6s cubic-bezier(0.27, 0.01, 0.31, 0.95);
}

.info-header {
  padding: 20px;
  padding: 1.25rem;
}

.info-content {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  overflow-y: hidden;
}

@keyframes info-popout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes info-popin {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.page-nav {
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  z-index: 2;
  color: #444;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}

.page-nav span {
  line-height: 21px;
  font-family: 'cf_asty_stdbold';
  letter-spacing: 1px;
}

.page-nav i {
  font-size: 10px;
}

.page-nav.disabled {
  cursor: default;
  pointer-events: none;
}

.page-nav.disabled:focus {
  outline: none;
}

.page-nav.disabled span {
  color: #e0e4e2;
}

.page-nav.disabled i:before {
  opacity: 0.1;
}

.page-nav.prev {
  left: -1px;
}

.page-nav.prev i {
  margin-right: 6px;
}

.page-nav.prev i:before {
  fill: #444;
}

.page-nav.next {
  right: -1px;
}

.page-nav.next i {
  transform: rotate(180deg);
  margin-left: 6px;
}

.page-nav.next i:before {
  fill: #444;
}

.slide {
  opacity: 0;
  z-index: -1;
}

.slide.current {
  z-index: 1;
  opacity: 1;
}

.slide.current label {
  opacity: 1;
}

#map-container {
  z-index: 0;
  position: relative;
  height: 100vh;
  touch-action: none;
}

#map-container #map {
  z-index: 0;
  touch-action: none;
}

#map-container.overlay {
  width: 100vw;
}

#map-container.overlay > * {
  pointer-events: none;
}

.map-controls button {
  cursor: pointer;
}

.map-controls button > * {
  pointer-events: none;
}

.map-static {
  visibility: hidden;
  opacity: 0;
}

.map-static.visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  #map-container {
    background-image: url("/static/media/ncwr-map-1245x700.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.map-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0090d7;
  padding: 10px 20px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.map-tooltip.visible {
  opacity: 1;
  visibility: visible;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
}

.map-tooltip h2 {
  font-size: 16px;
  font-family: "cf_asty_stdregular", sans-serif;
  font-weight: normal;
  text-transform: unset;
  line-height: 1.2;
  color: white;
  margin: 0;
  padding: 0;
}

.map-popup {
  position: fixed;
  max-width: 350px;
  padding: 20px;
  background-color: #0090d7;
  font-family: "cf_asty_stdregular", sans-serif;
  text-align: left;
  color: white;
  will-change: transform;
  opacity: 0;
  z-index: -1;
  transform: translate3d(0, 6px, 0) rotate(0.001deg);
  transition: transform .1s ease-in-out;
}

.map-popup h2 {
  margin-top: 10px;
  color: white;
  font-family: 'cf_asty_stdmedium', serif;
  font-size: 32px;
  font-size: 2rem;
}

.map-popup p {
  line-height: 1.4;
}

.map-popup .open-page {
  display: inline-block;
  padding: 8px 25px;
  border-radius: 5px;
  background-color: white;
  margin-top: 30px;
  color: #0090d7;
}

.map-popup .close-popup-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
}

.map-popup .close-popup-btn > * {
  pointer-events: none;
}

.map-popup.visible {
  opacity: 1;
  z-index: 1;
  right: 13%;
  top: 35%;
  transform: translate3d(0, -8%, -35%) rotate(0.001deg);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/**
 * Hotspot quiz
 */
.app-screen .app-card--hotspot-drag-and-drop {
  width: 85%;
  padding: 0;
}

.app-screen .app-card--hotspot-drag-and-drop .container {
  max-width: 100% !important;
}

.app-screen .app-card--hotspot-drag-and-drop .quiz-description {
  max-width: 850px;
  margin: 0 auto;
}

.app-screen .app-card--hotspot-drag-and-drop .inner-scroll h2 {
  max-width: 850px;
  margin: 1em auto .5em auto;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;
  list-style-type: none;
  margin: 0 0 0 24px;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px;
  padding-right: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-color: transparent;
  border-style: solid;
  border-radius: 36px;
  background-color: #e1f5ff;
  list-style-type: outside;
  list-style-type: none;
  color: #000;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label.highlighted {
  background-color: #a4e1ff !important;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .drag-handle, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  background: #0090d7;
  color: white;
  font-family: "cf_asty_stdbold", sans-serif;
  font-size: 14px;
  line-height: 1;
  z-index: 1;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .drag-handle.wrong, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .drag-handle.correct, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone.wrong, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone.correct {
  margin: 0;
  margin-right: 12px;
  padding: 0;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .drag-handle.highlight-correct, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone.highlight-correct {
  background-color: #60b846 !important;
  color: white;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .drag-handle.highlight-wrong, .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone.highlight-wrong {
  background-color: #e30000 !important;
  color: white;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone {
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: white;
  color: #888;
  z-index: 0;
  font-size: 14px;
  line-height: 1;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .clone.default {
  position: relative;
  top: 0;
  left: 0;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .text {
  flex: 1;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  color: #333;
  font-family: 'cf_asty_stdregular', serif;
}

.app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container li.hotspot-label .tip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-left: 12px;
  font-family: "cf_asty_stdbold", sans-serif;
  font-size: 15px;
  color: #333;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image {
  position: relative;
  margin: 0;
  max-width: 650px;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image img {
  max-width: 100%;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image .hotspot {
  display: block;
  position: absolute;
  background: rgba(0, 144, 215, 0.4);
  border: 2px solid white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image .hotspot:hover {
  cursor: pointer;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image .hotspot.hit {
  animation: ripple .4s ease-out;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image .hotspot .right-positions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  min-height: 34px;
  border-radius: 50%;
  background: #60b846;
  color: white;
  font-family: "cf_asty_stdbold", sans-serif;
  position: absolute;
  opacity: 0;
  font-size: 16px;
  top: -6px;
  left: -6px;
  animation: ripple_rp .4s ease-out;
}

.app-screen .app-card--hotspot-drag-and-drop .hotspot-image .showOver {
  background: white;
  animation: ripple .4s ease-out;
}

.app-screen .app-card--hotspot-drag-and-drop .form__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app-screen .app-card--hotspot-drag-and-drop .form__buttons .submit-button {
  cursor: pointer;
}

.app-screen .app-card--hotspot-drag-and-drop .form__buttons .prompt-hotspot {
  position: absolute;
  text-align: center;
  width: auto;
  top: 0;
  left: auto;
  transform: unset;
  background-color: transparent;
}

.app-screen .app-card--hotspot-drag-and-drop .form__buttons .prompt-hotspot.correct {
  margin-top: 10px;
  padding: 10px 20px;
  color: #60b846;
}

.app-screen .app-card--hotspot-drag-and-drop .form__buttons .prompt-hotspot.wrong {
  margin-top: 10px;
  color: #e30000;
  font-family: "cf_asty_stdregular", sans-serif;
}

.app-screen .app-card--hotspot-mouseover .hotspot-image {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.app-screen .app-card--hotspot-mouseover .hotspot-image img {
  max-width: 100%;
  height: auto;
}

.app-screen .app-card--hotspot-mouseover .hotspot-image .hotspot {
  display: block;
  position: absolute;
  background: rgba(0, 144, 215, 0.4);
  border: 2px solid white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.app-screen .app-card--hotspot-mouseover .hotspot-image .hotspot:hover {
  cursor: pointer;
}

.app-screen .app-card--hotspot-mouseover .hotspot-image .hotspot .right-positions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  min-height: 34px;
  border-radius: 50%;
  background: #60b846;
  color: white;
  font-family: "cf_asty_stdbold", sans-serif;
  position: absolute;
  opacity: 0;
  font-size: 16px;
  top: -6px;
  left: -6px;
  animation: ripple_rp .4s ease-out;
}

.quiz-hotspot {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

@media (max-width: 1919px) {
  .app-screen .app-card--hotspot-drag-and-drop ul.hotspot-origin-container {
    margin-left: 36px;
  }
}

@media (max-width: 500px) {
  .quiz-hotspot ul {
    margin-top: 10px;
    padding: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(3);
  }
  100% {
    opacity: 0;
    transform: scale(4);
  }
}

.quiz-hotspot.drag-and-drop .term-popup {
  display: none;
}

.quiz-hotspot.mouseover .right-positions {
  visibility: hidden;
}

.glow {
  animation: glow 1.75s 1;
}

.glow-infinite {
  animation: glow_large 1.75s infinite;
}

.static-glow {
  box-shadow: 0 0 0 15px rgba(0, 185, 242, 0.4);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 185, 242, 0.6);
  }
  80% {
    box-shadow: 0 0 0 10px rgba(0, 185, 242, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 185, 242, 0);
  }
}

@keyframes glow_large {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 185, 242, 0.6);
  }
  80% {
    box-shadow: 0 0 0 20px rgba(0, 185, 242, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 185, 242, 0);
  }
}

button.glossary-term {
  position: relative;
  display: inline;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -webkit-text-decoration-color: #0090d7;
          text-decoration-color: #0090d7;
  padding-bottom: 5px;
  font-family: 'cf_asty_stdlight', serif;
  font-size: 22px;
  font-size: 1.375rem;
  cursor: pointer;
}

button.glossary-term.current {
  z-index: 2;
}

.term-popup-container {
  display: inline;
  position: relative;
}

.glossary-popup,
.term-popup {
  width: 0;
  height: 0;
  position: absolute;
  background-color: #0090d7;
  color: white;
  z-index: -1;
  top: 5%;
  cursor: default;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.3;
  overflow: hidden;
  text-align: left;
}

.glossary-popup.open,
.term-popup.open {
  position: absolute;
  width: 460px;
  height: auto;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 34px;
  padding-right: 2.125rem;
  margin-top: 38px;
  animation: slide_in_fwd_center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both;
  z-index: 2;
  cursor: default;
}

.glossary-popup.open > *,
.term-popup.open > * {
  color: white !important;
}

.glossary-popup.open h4,
.term-popup.open h4 {
  margin-top: 0;
  font-family: 'cf_asty_stdmedium', serif;
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.glossary-popup.open p,
.term-popup.open p {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.5;
}

.glossary-popup.open p:last-child,
.term-popup.open p:last-child {
  margin-bottom: 0;
}

.glossary-popup.open a,
.term-popup.open a {
  color: #fff;
}

.glossary-popup.open .close-popup,
.term-popup.open .close-popup {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  cursor: pointer;
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@keyframes slide_in_fwd_center {
  0% {
  }
  100% {
    transform: translate(0, -5%) rotate(0.001deg);
  }
}

/* Table */
td, th {
  text-align: left;
  padding: 0.8em 1.2em 0.8em 0.8em;
}

table {
  font-size: 16px;
  border-collapse: collapse;
  padding-bottom: 1.6em;
  width: 100%;
  font-family: 'cf_asty_stdregular', serif;
}

table caption {
  padding: 0.8em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  will-change: transform;
  /*Safari bug: caption jumps when sorting table*/
}

table.likert--grid tbody td {
  min-width: 115px;
}

tr:nth-child(odd) td {
  background-color: transparent;
}

tr {
  border-bottom: 1px solid lightgray;
}

thead tr {
  border-bottom: none;
}

thead th {
  font-weight: normal;
  text-align: center;
  font-family: 'cf_asty_stdbold', serif;
}

thead th:hover {
  cursor: pointer;
}

tbody th {
  font-weight: normal;
}

@media (max-width: 545px) {
  table {
    font-size: 14px;
  }
  table, thead, tbody, th, td, tr, caption {
    display: block;
  }
  thead {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
  }
  thead tr:before {
    content: "Sort by: ";
    margin-bottom: 0.5em;
    margin-right: 1em;
    grid-column: 1/4;
    font-weight: 700;
  }
  thead th {
    display: inline;
    padding: 0.8em 0;
    margin-right: 0.8em;
    font-weight: normal;
  }
  tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
  }
  tbody th[data-title="Name"] {
    grid-column: 1/4;
    padding-left: 0;
  }
  tbody th[data-title="Posts"],
  tbody th[data-title="Comments/Post"] {
    grid-column: 1/2;
  }
  tr td {
    background-color: transparent;
    border-bottom: 1px solid #d3d3d3;
  }
  td:nth-of-type(1):before {
    content: "Posts: ";
    font-weight: bold;
  }
  td:nth-of-type(2):before {
    content: "Comments: ";
    font-weight: bold;
  }
}

@media (max-width: 414px) {
  thead {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
  }
  thead:before {
    content: "Sort by: ";
    margin-bottom: 0.8em;
    margin-right: 0;
    grid-column: 1/4;
    font-weight: 700;
  }
  thead tr:before {
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
  }
}

@media (max-width: 350px) {
  thead th {
    margin-right: 0.4em;
  }
}

thead .arrow-down:before {
  margin-top: -3px;
  margin-left: 0.4em;
}
