.user-data {
  position: relative;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-data h2 {
  margin: 0;
  align-self: center;
  font-size: 62px;
}

.user-details {
  align-self: center;
  justify-self: end;
  width: auto;
  font-size: 14px;
  grid-column: 2;
}

.user-details h3 {
  font-size: 14px;
  margin: 0;
}

.user-details a {
  display: block;
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  .user-data {
    grid-template-columns: repeat(3, 1fr);
  }
  .user-details {
    grid-column: 3;
    justify-self: start;
    position: relative;
  }
  .show.no-space {
    right: 0;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .user-data {
    grid-template-columns: 1fr;
  }
  .user-data h2 {
    font-size: 46px;
  }
}

@media (max-width: 680px) {
  .user-data {
    grid-template-columns: 1fr;
  }
  .user-data h2 {
    margin-bottom: 0.5em;
  }
  .show.no-space {
    position: relative;
    text-align: left;
    left: auto;
  }
  .user-details {
    justify-self: start;
    grid-column: 1;
    width: auto;
  }
}

@media (max-width: 414px) {
  .user-data h2 {
    font-size: 38px;
  }
}

.btn-user {
  border: 1px solid #333;
  background-color: transparent;
  display: block;
  padding: 0.7em 1em;
  letter-spacing: 1px;
}

.btn-user .arrow-down:before {
  margin-top: 0;
  margin-left: 0.5em;
}

.user-posts {
  margin-top: 6em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
}

.post {
  margin-bottom: 4em;
  grid-column: 1/3;
}

.post p {
  font-size: 18px;
  line-height: 1.5;
}

.post-title {
  font-weight: 700;
  font-size: 28px;
}

.user-comments .show {
  margin-top: 2em;
  margin-left: 2em;
}

.user-comments .comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  font-size: 16px;
}

.user-comments .comment h4 {
  font-weight: 700;
}

.user-comments .comment p {
  font-size: 16px;
}

.user-comments .comment:last-child {
  border-bottom: none;
}

.user-comments button {
  margin-top: 2em;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

.user-comments button:focus {
  outline: none;
}

.user-comments button i {
  margin-left: 1.2em;
}

@media (min-width: 1201px) {
  .user-posts {
    max-width: 95%;
  }
}

@media (max-width: 1200px) {
  .user-posts {
    max-width: 100%;
  }
}

@media (max-width: 960px) {
  .user-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .user-posts {
    grid-template-columns: repeat(4, 1fr);
  }
  .post {
    margin-bottom: 3em;
    grid-column: 1/4;
  }
}

@media (max-width: 680px) {
  .user-posts {
    grid-template-columns: 1fr;
    margin-top: 4em;
  }
  .post {
    margin-bottom: 4em;
    grid-column: 1/4;
  }
}

@media (max-width: 414px) {
  .user-comments .show {
    margin-left: 1em;
  }
  .user-comments .comment p {
    font-size: 14px;
  }
}

/* IE11 */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .user-details {
    position: absolute;
    top: 1em;
    right: 30%;
    width: 200px;
  }
  .user-posts {
    width: 40%;
  }
}
