/* open-sans-regular - latin */

@font-face {
  font-family: 'cf_asty_stdbold';
  src: url('fonts/cfastystd-bold-webfont.woff2') format('woff2'),
       url('fonts/cfastystd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cf_asty_stdregular';
  src: url('fonts/cfastystd-book-webfont.woff2') format('woff2'),
       url('fonts/cfastystd-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cf_asty_stdbook_oblique';
    src: url('fonts/cfastystd-bookoblique-webfont.woff2') format('woff2'),
         url('fonts/cfastystd-bookoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cf_asty_stdmedium';
    src: url('fonts/cfastystd-medium-webfont.woff2') format('woff2'),
         url('fonts/cfastystd-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cf_asty_stdmedium_oblique';
    src: url('fonts/cfastystd-mediumoblique-webfont.woff2') format('woff2'),
         url('fonts/cfastystd-mediumoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cf_asty_stdlight';
    src: url('fonts/cfastystd-light-webfont.woff2') format('woff2'),
         url('fonts/cfastystd-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cf_asty_stdlight_oblique';
    src: url('fonts/cfastystd-lightoblique-webfont.woff2') format('woff2'),
         url('fonts/cfastystd-lightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedblack';
    src: url('fonts/heroiccondensed-black-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedbold';
    src: url('fonts/heroiccondensed-bold-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedbook';
    src: url('fonts/heroiccondensed-book-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedlight';
    src: url('fonts/heroiccondensed-light-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedmedium';
    src: url('fonts/heroiccondensed-medium-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedregular';
    src: url('fonts/heroiccondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heroic_condensedthin';
    src: url('fonts/heroiccondensed-thin-webfont.woff2') format('woff2'),
         url('fonts/heroiccondensed-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}