

html {
    font-size: 16px; //16x4  
}

@media screen and (max-width: 1366px) {
   html {
        font-size: 14px; //16x4  
    } 
}

@media screen and (min-width: 1367px) {
   html {
        font-size: 15px; //16x4  
    } 
}

@media screen and (min-width: 1680px) {
   html {
        font-size: 16px; //16x4  
    } 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, 
a:hover {
    color: inherit;
}

body {
    background-color: #77AFE0;
    color: $text;
    margin: 0; 
    padding: 0;
    @include sans_light;
    font-size: 100%;
    line-height: 1.5;
    font-stretch: normal; 
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    image-rendering: -webkit-optimize-contrast;
    overflow: hidden;
    word-wrap: break-word;
}

figure {
    margin: 0;
}

p, li {
    @include rem-fallback(font-size, 22);
    line-height: 1.5;
}


button[type="button"] {
    cursor: pointer;
    outline: none;
    background-color: transparent;

    @include rem_fallback(font-size, 16);
    > * {
        pointer-events: none;
    }
}

.arrow-down:before {
    transform: rotate(0deg);
    transition: 200ms ease;
}

.rotated,
i.rotated:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transition: 300ms ease all;
}

:focus {
    outline: none;
}

strong {
    font-weight: normal;
    font-family: $bold;
}

ol, ul {
    margin: 2em 3em 2em 3em;
}

h2, h3, h4, h5 {
    // @include condensed_bold;
    // text-transform: uppercase;
    @include sans_bold;
    font-size: 36px;
    line-height: 1.3;
    font-weight: normal;
    color: $heading;
    margin: 1em 0 0.5em 0;
    padding: 0;
    > * {
       @include condensed_bold; 
    }
}

h3, h4, h5 {
    margin-bottom: 0.5em;
    color: $dark;
}

h4 {
    font-size: 28px;
    font-family: cf_asty_stdregular;
    margin-bottom: 0.2em;
    margin-top: 2em;
    &.underlined {
        margin-bottom: 0;
        border-bottom: 1px solid;
    }
    
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2em; 
}


pre {
    background-color: #efefef;
    padding: 1em;
    margin: 2em 0;
    text-align: center;
}

p + h3 {
    margin-top: 2em;
}

em {
    @include sans_light_italic;
}

strong {
    @include sans_medium;
    color: $dark;
}

a {
    text-decoration: none;
    color: $blue;
    &:hover {
        color: lighten($blue, 10%);
    }
}

/* autoprefixer grid: autoplace */

.inner-scroll h2 {
   @include condensed_bold;
    text-transform: uppercase; 
}
//helpers
.hide {
    position: fixed; 
    overflow: hidden;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
    opacity: 0; 
}

.show {  
    position: relative;
    clip-path: none;
    opacity: 1;
    transition: opacity .4s ease-in;    
    margin-top: 1em;
    font-size: 14px;
    line-height: 1.5;
    &.no-space {
        position: absolute; 
    }
}

//start app styles
.visually-hidden {
    position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
    border:0 !important;
    width: 1px;
    height: 1px;
	overflow: hidden;
    opacity: 0;
}

@mixin visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}  

@mixin override-visually-hidden {
	position: relative !important;
	height: auto !important; 
	width: auto !important; 
	overflow: visible;
}

.none {
    display: none;
    z-index: -1;
}
.block {
    display: block;
    z-index: 1;
}

.loader {
    display: none;
    position: absolute; 
    right: 10px;
    top: 7px;
    width: 24px;
    height: 24px;
}



//FOR IE11
main {
    display: block;
}



//start app styles
// p {
//     margin-bottom: 0.5em;
// }
// ul {
//     margin: 1rem 2rem ;
//     li {
//         margin-bottom: 0.5rem;
//     }
// }


.visually-hidden {
    position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
    border:0 !important;
    width: 1px;
    height: 1px;
	overflow: hidden;
    opacity: 0;
}
//app
#app {
    // width: 100%;
    // height: 100%;
    // overflow: hidden;
}

.app-container {
    //padding: 2rem;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
//header
.app-header {
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 1;
    .app-logo {
        margin-top: 0;
    }
}

@media screen and (max-width: 1200px) {
    .app-header {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
}

.app-main {
    &__nav {
        .button--pill {
            // @include button--pill(#666, white, 15%);
            // @include button--pill__small;
        }
        &--row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding-top: 0.8rem;
            border-top: 5px solid #666;
            figure {
                width: 80%;
                figcaption {
                    font-size: 0.9rem;
                    letter-spacing: 2px;
                }
            }
            .placeholder {
                float: left;
                width: 520px;
                height: 325px;
                background-color: #e4e4e4;
                margin-right: 1rem;
            }
        }
    }
}

#preloader {
    z-index: 100;
    position: absolute;
    #preloader-logo {
        position: absolute;
        top: 80px;
        left: 60px;
    }
    &.visually-hidden {
        #preloader-logo {
            display: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    #preloader #preloader-logo  { 
        position: absolute;   
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
}
//from slider
.js {
    // .app-card--checkbox {
    //     //outline: 1px solid dark;
    //     position: relative;
    //     text-align: center;
    //     min-height: 750px;
    //     h2 {
    //         text-align: left;
    //         font-size: 40px;
    //     }
    //     form.checkbox {
    //         fieldset {
    //             position: relative;
    //             height: 100%;
    //             legend {
    //                 text-align: left;
    //                 margin: 0 auto;
    //                 font-size: 21px;
    //                 line-height: 1.3;
    //                 padding: 10px;
    //                 font-family: $bold;
    //             }
    //         }
    //         .slides { 
    //             position: relative;
    //             width: 100%;
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: flex-start;
    //             align-items: center;
    //             flex-wrap: wrap;
    //             margin-top: 30px;
    //             .slide {
    //                 position: absolute;
    //                 top: 50%;
    //                 left: 50%;
    //                 opacity: 0;
    //                 z-index: -1;
    //                 display: flex;
    //                 flex-direction: column;
    //                 justify-content: flex-start;
    //                 align-items: center;
    //                 width: 450px;
    //                 // height: calc(100% - 54px);
    //                 transform: translate(-50%, -50%);
    //                 &.current {
    //                     z-index: 1; //before adding the z-index via javascript 
    //                     opacity: 1;
    //                     label {
    //                         opacity: 1;
    //                     }
    //                 }
    //                 &.prev-slide { 
    //                     .slide__image {
    //                         figure {
    //                             transform: translate3d(-400px, 0px, 0px);
    //                             transition: transform 400ms ease;
    //                         }
    //                     }
    //                 }
    //                 .slide__image { 
    //                     margin: 0;
    //                     padding: 0;
    //                     height: 330px;
    //                     margin-bottom: 30px;
    //                     opacity: 1;
    //                     overflow: hidden;
    //                     z-index: 1; 
    //                     figure {
    //                         margin: 0;
    //                         transform: translate3d(0, 0px, 0px);
    //                         transition: transform 400ms ease;
    //                         background: white;
    //                         display: flex;
    //                         justify-content: center;
    //                         width: 100%;
    //                         height: 100%;
    //                         img {
    //                             margin: 0;
    //                             align-self: center;
    //                             height: 330px; 
    //                             cursor: pointer;
    //                         }
    //                     }
    //                 }
    //                 h2 {
    //                     font-size: 30px;
    //                 }
                    
    //             }
    //             &.with-image {
    //                 height: 425px;//slide img height: 330 + margin botton + button height
    //                 .slide {
    //                    top: 0; 
    //                    transform: translateX(-50%);
    //                 }
    //                 .prev-next {
    //                     top: auto;
    //                     bottom: -10px;
    //                     z-index: 0;
    //                 }
    //                 .checkbox-prompt {
    //                     position: relative;
    //                     margin-top: 30px;
    //                 }
    //             }
                
                
    //         }
    //         &[data-type="page-pile"] {
    //             .slides {
    //                 .slide {
    //                     opacity: 1;
    //                 }
    //             } 
    //         }
    //         &[data-type="fade"] {
    //             .slides {
    //                 .slide {
    //                     opacity: 0;
                       
    //                     &.current {
    //                         opacity: 1;
    //                         animation-name: fadeIn;
    //                         animation-duration: 1s;
    //                         animation-timing-function: cubic-bezier(0,0,.4,1);
    //                         animation-fill-mode: forwards;
    //                     }
    //                 }
    //             } 
    //         }
    //         label {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             max-width: 450px;
    //             min-width: 200px;
    //             margin-top: 0;
    //             padding: 10px 30px 10px 12px;
    //             background-color: $disabled;
    //             border-radius: 30px;
    //             border: 1px solid $disabled;
    //             font-size: 16px;
    //             font-family: $regular;
    //             line-height: 1.2;
    //             text-align: left;
    //             color: #444;
    //             opacity: 0;
    //             cursor: pointer;
    //             transition: all 1s;
    //             &:focus {
    //                 border: 1px solid darken($orange, 20%);
    //                 border-radius: 30px;
    //             }
    //             &:hover, &.hover {
    //                 border: 1px solid $orange;
    //                 background-color: lighten($orange, 10%);
    //                 border-color: lighten($orange, 10%);
    //                 color: white;
    //                 transition: all 0s;  
    //                 .input-icon {
    //                     //background-color: $grey_light;
    //                     //background-color: $orange;
    //                     background-color: lighten($orange, 20%);
    //                     transition: all 0s;  
    //                 }
    //             }
    //             &.selected {
    //                 background-color: $orange;
    //                 color: white;
    //                  .input-icon {
    //                      background-color: $orange;
    //                    // background-color: lighten($orange, 20%);
    //                 }
    //                 &:hover, 
    //                 &.hover {
    //                     //color: #444;
    //                     .input-icon {
    //                         background-color: $orange;
    //                        // background-color: $input_bg;
    //                     }
    //                 }
    //             }
    //             &.not-selected {
    //                 background-color: $disabled;
    //             }
    //             .span {
    //                 display: block;
    //             }
    //             .input-icon {  
    //                 width: 32px;
    //                 height: 32px;
    //                 margin-right: 10px;
    //                 border-radius: 32px;
    //                 background-color: $input_bg;
    //                 transition: all 1s;
    //                 i {
    //                     font-size: 10px;
    //                     left: 5px;
    //                     top: 7px;
    //                     &.checkbox-w-thick {
    //                         left: -1px;
    //                         top: -1px;
    //                     }
    //                 }
    //             }
    //         }
    //         &.submitted {
    //             label {
    //                 cursor: default;
    //                 &:hover {
    //                     background-color: $disabled;
    //                     color: #444; 
    //                     border-color: $disabled;
    //                 }
    //                 &.selected {
    //                     &:hover {
    //                         background-color: $orange; 
    //                         color: white;
    //                     }
    //                 }
    //                 .input-icon {
    //                     background-color: $input_bg;
    //                 }
    //             }
    //             input[data-type="correct"] + label.selected .input-icon {
    //                 background-color: $orange;
    //             } 
    //             input[data-type="wrong"] + label.selected .input-icon {
    //                 background-color: $orange;
    //             } 
    //         } 
    //     }
        
    //     .submit-button {
    //         position: relative;
    //         margin-top: 30px;
    //         margin-bottom: 0;
    //         cursor: pointer;
    //         border-radius: 5px;
    //         border: 1px solid $blue;
    //         transition: background-color 1s;
    //         font-family: $regular;
    //         &:focus {
    //             border: 1px solid darken($blue, 10%);
    //             border-radius: 5px;
    //         }
    //         &:hover {
    //             background-color: lighten($blue, 5%);
    //             border: 1px solid lighten($blue, 5%);
    //         }
    //         &.reset {
    //             margin: 0 auto;
    //             margin-top: 150px;
    //         }
    //         &.disabled {
    //             background-color: lighten($blue, 5%);
    //             border: 1px solid lighten($blue, 10%);
    //             color: white;
    //         }
    //     }
    //     .thankyou_message {
    //         position: relative;
    //         margin-top: 150px;
    //         .check-answer {
    //             position: absolute;
    //             top: -30px;
    //             left: 50%;
    //             transform: translateX(-50%);
    //             font-size: 13px;
    //             &.correct {
    //                 font-size: 23px;
    //             }
    //             &.wrong {
    //                 font-size: 13px;
    //             }
    //         }
    //     }
    //     .form-error {
    //         color: black;
    //         text-align: center;
    //         display: block;
    //         margin-top: 20px;
    //     }
    //     .checkbox-prompt {
    //         position: absolute;
    //         width: 150%;
    //         margin-top: 90px;
    //         background-color: white;
    //         &.selected {
    //            flex-direction: row; 
    //            .text {
    //                 opacity: 1;
    //                 display: block;
    //             }
    //         }
    //         .form__tip {
    //             width: 26px;
    //             height: 26px;
    //             cursor: pointer;
    //             border-radius: 50%;
    //             border: 2px solid #666;
    //             padding: 2px;
    //             font-size: 18px;
    //             line-height: 1;
    //             font-family: georgia;
    //             font-weight: bold;
    //             margin-right: 15px;
    //         }
    //         .text {
    //             opacity: 0;
    //             display: none;
    //             text-align: left;
    //          }
    //     } 
    // }
}

audio {
    position: absolute;
    top: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

audio::-webkit-media-controls-enclosure {
    background: transparent;
}

// audio::-webkit-media-controls-panel

// audio::-webkit-media-controls-mute-button

// audio::-webkit-media-controls-play-button

// audio::-webkit-media-controls-timeline-container

// audio::-webkit-media-controls-current-time-display

// audio::-webkit-media-controls-time-remaining-display

// audio::-webkit-media-controls-timeline

// audio::-webkit-media-controls-volume-slider-container

// audio::-webkit-media-controls-volume-slider

// audio::-webkit-media-controls-seek-back-button

// audio::-webkit-media-controls-seek-forward-button

// audio::-webkit-media-controls-fullscreen-button

// audio::-webkit-media-controls-rewind-button

// audio::-webkit-media-controls-return-to-realtime-button

// audio::-webkit-media-controls-toggle-closed-captions-button



.no-js {
    .prev-next {
        display: none;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    //animation-timing-function: cubic-bezier(0,0,.4,1);
    //animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}