$x_small: 12;
$small: 14;
$medium: 16;
$medium_large: 19;
$large: 21;
$xtra_large: 26;
$attract: 52;

//font styles
$regular: 'cf_asty_stdregular', sans-serif;
$bold: 'cf_asty_stdbold', sans-serif;


@mixin sans_regular {
    font-family: 'cf_asty_stdregular', serif;
}

@mixin sans_italic {
    font-family: 'cf_asty_stdbook_oblique', serif;
}

@mixin sans_bold {
    font-family: 'cf_asty_stdbold', serif;
}

@mixin sans_medium {
    font-family: 'cf_asty_stdmedium', serif;
}

@mixin sans_light {
    font-family: 'cf_asty_stdlight', serif;
}

@mixin sans_light_italic {
    font-family: 'cf_asty_stdlight_oblique', serif;
}

@mixin condensed_bold {
    font-family: 'heroic_condensedbold', sans-serif;
} 

@mixin condensed_regular {
    font-family: 'heroic_condensedregular', sans-serif;
} 

@mixin condensed_medium{
    font-family: 'heroic_condensedmedium', sans-serif;
} 

@mixin condensed_book {
    font-family: 'heroic_condensedbook', sans-serif;
} 

@mixin condensed_black {
    font-family: 'heroic_condensedblack', sans-serif;
} 

@mixin condensed_thin {
    font-family: 'heroic_condensedthin', sans-serif;
} 


