


//colors
$black: #333333;
$white: #fff;
$accent: #00B9F2; //basic blue
$accent: #66aefe;
$accent_rgba: rgba(0, 185, 242, 1);
$text: #333333;
$text: #000;
$grey_light: #e0e4e2;
$gray_light: #e0e4e2;
$green: #00df7e;

$dark: #444;
$heading: #555;

//new colors
$blue: #66aefe;

$orange: #fe7a00;
$red: #e30000;
$green: #60b846;
$disabled: #e0e0e0;
$input_bg: #aaa;
$dark: #444;

//map colors
$blue: #0090d7;
$light_blue: #B0DEF7;
$dark_blue: #0050C2