.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 38em 293.4em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-left:before {
      background-position: 0em 0em;
      width: 3.5em;
      height: 7em;
  }




  .icon.arrow-right:before {
      background-position: 0em -7em;
      width: 3.5em;
      height: 7em;
  }




  .icon.arrow_left:before {
      background-position: 0em -14em;
      width: 1.2em;
      height: 2em;
  }




  .icon.arrow_right:before {
      background-position: 0em -16em;
      width: 1.2em;
      height: 2em;
  }




  .icon.checkbox-r:before {
      background-position: 0em -18em;
      width: 1.9664000000000001em;
      height: 1.5999em;
  }




  .icon.checkbox-w-thick:before {
      background-position: 0em -19.6em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.close-button-activity:before {
      background-position: 0em -23em;
      width: 3.6em;
      height: 3.6em;
  }




  .icon.close-page-color:before {
      background-position: 0em -26.6em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.close-popup:before {
      background-position: 0em -30em;
      width: 1.5em;
      height: 1.5em;
  }




  .icon.info:before {
      background-position: 0em -31.5em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.info-dark:before {
      background-position: 0em -34.9em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.info-white:before {
      background-position: 0em -38.3em;
      width: 3.4em;
      height: 3.4em;
  }




  .icon.ncwr-logo:before {
      background-position: 0em -41.7em;
      width: 22em;
      height: 14em;
  }




  .icon.ncwr-logo1:before {
      background-position: 0em -55.7em;
      width: 21.778em;
      height: 13.236em;
  }




  .icon.reset:before {
      background-position: 0em -69em;
      width: 3.4000999999999997em;
      height: 3.4000999999999997em;
  }




  .icon.symbol-activity:before {
      background-position: 0em -72.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-activity-active:before {
      background-position: 0em -79.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-activity-description:before {
      background-position: 0em -86.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-activity-description-active:before {
      background-position: 0em -93.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-activity-duration:before {
      background-position: 0em -100.5em;
      width: 10em;
      height: 10em;
  }




  .icon.symbol-age:before {
      background-position: 0em -110.5em;
      width: 10em;
      height: 10em;
  }




  .icon.symbol-group-activity:before {
      background-position: 0em -120.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-group-activity-active:before {
      background-position: 0em -127.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-in-the-class:before {
      background-position: 0em -134.5em;
      width: 10em;
      height: 10em;
  }




  .icon.symbol-outdoor-activity:before {
      background-position: 0em -144.5em;
      width: 10em;
      height: 10em;
  }




  .icon.symbol-play-and-learn:before {
      background-position: 0em -154.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-play-and-learn-active:before {
      background-position: 0em -161.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-stop-and-wonder:before {
      background-position: 0em -168.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-stop-and-wonder-active:before {
      background-position: 0em -175.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-meter:before {
      background-position: 0em -182.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-meter-active:before {
      background-position: 0em -189.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-readings:before {
      background-position: 0em -196.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-readings-active:before {
      background-position: 0em -203.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-shares:before {
      background-position: 0em -210.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-water-shares-active:before {
      background-position: 0em -217.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-way-forward:before {
      background-position: 0em -224.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-way-forward-active:before {
      background-position: 0em -231.5em;
      width: 7em;
      height: 7em;
  }




  .icon.symbol-worksheet:before {
      background-position: 0em -238.5em;
      width: 10em;
      height: 10em;
  }




  .icon.thank-you-balloon:before {
      background-position: 0em -248.5em;
      width: 3.3em;
      height: 3em;
  }




  .icon.theme-play-and-learn:before {
      background-position: 0em -251.5em;
      width: 38em;
      height: 35em;
  }




  .icon.zoom-in:before {
      background-position: 0em -286.5em;
      width: 3.4em;
      height: 3.4000999999999997em;
  }




  .icon.zoom-out:before {
      background-position: 0em -290em;
      width: 3.4em;
      height: 3.4em;
  }





